task-3/workflow.json
{"name" : "Senior Interview Coach — Task 3 Old", "nodes" : [{"parameters": {"rules": {"values": [{"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2}, "conditions": [{"id": "c-start", "leftValue": "={{ $json.message?.text || '' }}", "rightValue": "/start", "operator": {"type": "string", "operation": "startsWith"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "/start"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2}, "conditions": [{"id": "c-learn", "leftValue": "={{ $json.message?.text || '' }}", "rightValue": "/learn", "operator": {"type": "string", "operation": "startsWith"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "/learn"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2}, "conditions": [{"id": "c-quiz", "leftValue": "={{ $json.message?.text || '' }}", "rightValue": "/quiz", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "/quiz"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2}, "conditions": [{"id": "c-stats", "leftValue": "={{ $json.message?.text || '' }}", "rightValue": "/stats", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "/stats"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2}, "conditions": [{"id": "c-pick", "leftValue": "={{ $json.callback_query?.data || '' }}", "rightValue": "pick:", "operator": {"type": "string", "operation": "startsWith"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "callback:pick"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2}, "conditions": [{"id": "c-ans", "leftValue": "={{ $json.callback_query?.data || '' }}", "rightValue": "ans:", "operator": {"type": "string", "operation": "startsWith"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "callback:ans"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2}, "conditions": [{"id": "c-lang-cmd", "leftValue": "={{ $json.message?.text || '' }}", "rightValue": "/lang", "operator": {"type": "string", "operation": "startsWith"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "/lang"}, {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2}, "conditions": [{"id": "c-lang-cb", "leftValue": "={{ $json.callback_query?.data || '' }}", "rightValue": "lang:", "operator": {"type": "string", "operation": "startsWith"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "lang:cb"}]}, "options": {"fallbackOutput": "extra", "renameFallbackOutput": "other"}}, "type": "n8n-nodes-base.switch", "typeVersion": 3.2, "position": [-2016, -1040], "id": "94e13e33-b03e-49ea-8013-ffe6de15f44a", "name": "Route"}, {"parameters": {"jsCode": "// /learn вЂ” parse URL from message text\nconst text = $input.first().json.message?.text || '';\nconst chatId = $input.first().json.message?.chat?.id;\n\n// Match anything after /learn that looks like an URL.\nconst match = text.match(/^\\/learn\\s+(https?:\\/\\/\\S+)/i);\nif (!match) {\n  return [{ json: { chat_id: chatId, valid: false, error: 'Please send a URL after /learn.\\n\\nExample:\\n`/learn https://martinfowler.com/articles/microservices.html`' } }];\n}\n\nconst url = match[1].replace(/[)\\].,;]+$/, ''); // strip trailing punctuation\nreturn [{ json: { chat_id: chatId, valid: true, url } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-1712, -1248], "id": "5baeee4a-76e9-4ef8-8354-8970dba18100", "name": "/learn: parse URL"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2}, "conditions": [{"id": "c-valid", "leftValue": "={{ $json.valid }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true", "singleValue": true}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [-1520, -1248], "id": "f9c6c224-1f26-40eb-bf3f-811bd014f096", "name": "/learn: URL valid?"}, {"parameters": {"chatId": "={{ $json.chat_id }}", "text": "={{ $json.error }}", "additionalFields": {"appendAttribution": false, "parse_mode": "Markdown"}}, "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [-1312, -1136], "id": "2fa10b98-5877-478e-96c8-1b19c5194b4c", "name": "/learn: reply invalid", "webhookId": "c9fb858f-d94e-4f77-bc5d-750a5ff56a9a", "credentials": {"telegramApi": {"id": "16HbsiVzJWWZ9vy7", "name": "Telegram account"}}}, {"parameters": {"url": "=https://r.jina.ai/{{ $json.url }}", "options": {"response": {"response": {"responseFormat": "text"}}, "timeout": 25000}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-1312, -1344], "id": "235e803a-5ee7-4765-8bc0-b051a814219a", "name": "/learn: jina fetch"}, {"parameters": {"jsCode": "\nconst lang = $('lang: pg load /learn').item.json.lang || 'en';\nconst langDirective = lang === 'ru'\n  ? '\\n\\nAll output strings (title, summary, key_points, main_concepts, interview_angle) must be in Russian. Difficulty value stays English: beginner/intermediate/advanced.'\n  : '';\nconst raw = $('/learn: jina fetch').item.json.data || $('/learn: jina fetch').item.json.body || '';\nconst chatId = $('/learn: parse URL').item.json.chat_id;\nconst url = $('/learn: parse URL').item.json.url;\n\nconst titleMatch = raw.match(/^Title:\\s*(.+?)$/m);\nconst title = (titleMatch ? titleMatch[1] : 'Untitled').trim().slice(0, 200);\n\nconst markerIdx = raw.indexOf('Markdown Content:');\nlet content = markerIdx >= 0 ? raw.slice(markerIdx + 'Markdown Content:'.length).trim() : raw;\ncontent = content.replace(/!\\[.*?\\]\\(.*?\\)/g, '').replace(/\\s+/g, ' ').trim();\nif (content.length > 14000) content = content.slice(0, 14000) + '...';\n\nif (content.length < 200) {\n  return [{ json: { chat_id: chatId, url, title, content: '', extraction_failed: true } }];\n}\n\n// Build the full Anthropic Messages API request body here using JSON.stringify\n// so the article content is always safely escaped, regardless of what chars it contains.\nlet systemPrompt = \"You are the Teacher in an AI-powered learning assistant for senior backend engineers preparing for staff-tier interviews (specialties: .NET, distributed systems, database internals, system design, software architecture). Read web articles/docs/blog posts/papers/tutorials, produce a tight structured summary helping the engineer absorb material quickly and remember parts that matter at interview time.\\n\\nNOT writing for a casual reader. Assume basics; surface what distinguishes senior understanding: tradeoffs, failure modes, when-to-use, hidden costs, second-order effects, contrast with alternatives.\\n\\nOutput JSON with EXACTLY this schema:\\n{\\n  \\\"title\\\": \\\"<short title, <=90 chars>\\\",\\n  \\\"key_points\\\": [\\\"<5 to 7 sentences>\\\"],\\n  \\\"main_concepts\\\": [\\\"<3 to 5 labels>\\\"],\\n  \\\"difficulty\\\": \\\"beginner\\\" | \\\"intermediate\\\" | \\\"advanced\\\",\\n  \\\"interview_angle\\\": \\\"<one sentence>\\\"\\n}\\n\\nCalibrate difficulty against a senior backend engineer bar. Output ONLY the JSON.\";\nsystemPrompt += langDirective;\n\n\nconst userContent = 'TITLE_HINT: ' + title + '\\nURL: ' + url + '\\n\\nCONTENT:\\n' + content;\n\nconst teacher_body = JSON.stringify({\n  model: 'claude-opus-4-7',\n  max_tokens: 2000,\n  system: systemPrompt,\n  messages: [{ role: 'user', content: userContent }]\n});\n\nreturn [{ json: { chat_id: chatId, url, title, content, extraction_failed: false, teacher_body } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-1120, -1344], "id": "9f61bc78-4bce-4bd0-b99f-f946d157912f", "name": "/learn: extract title+body"}, {"parameters": {"method": "POST", "url": "https://api.anthropic.com/v1/messages", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}"}, {"name": "anthropic-version", "value": "2023-06-01"}, {"name": "content-type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json.teacher_body }}", "options": {"timeout": 90000}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-912, -1344], "id": "ae178aa1-abad-41f8-a691-136967e0ea73", "name": "/learn: Teacher (Opus)"}, {"parameters": {"jsCode": "// Parse Teacher JSON response + prep for Postgres insert\nconst chatId = $('/learn: extract title+body').item.json.chat_id;\nconst url = $('/learn: extract title+body').item.json.url;\nconst content = $('/learn: extract title+body').item.json.content;\nconst titleHint = $('/learn: extract title+body').item.json.title;\n\nconst response = $input.first().json;\nconst rawText = response?.content?.[0]?.text || '';\n\nlet parsed;\ntry {\n  // Tolerate fenced output just in case\n  const cleaned = rawText.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (err) {\n  throw new Error('Teacher returned unparseable JSON: ' + rawText.slice(0, 300));\n}\n\n// Validate + clamp\nconst keyPoints = Array.isArray(parsed.key_points) ? parsed.key_points.slice(0, 7) : [];\nif (keyPoints.length < 5) {\n  while (keyPoints.length < 5) keyPoints.push('(see source for additional detail)');\n}\nconst concepts = Array.isArray(parsed.main_concepts) ? parsed.main_concepts.slice(0, 5) : [];\nconst difficulty = ['beginner', 'intermediate', 'advanced'].includes(parsed.difficulty) ? parsed.difficulty : 'intermediate';\nconst title = (parsed.title || titleHint || 'Untitled').slice(0, 200);\nconst interviewAngle = parsed.interview_angle || '';\n\nconst summaryJson = { key_points: keyPoints, main_concepts: concepts, difficulty, interview_angle: interviewAngle };\n\nreturn [{ json: { chat_id: chatId, url, title, content, difficulty, summary_json: summaryJson } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-720, -1344], "id": "02b57b35-a041-45de-9205-a2159c482701", "name": "/learn: parse Teacher JSON"}, {"parameters": {"operation": "executeQuery", "query": "INSERT INTO app.learning_materials (chat_id, url, title, content, summary_json, difficulty)\nVALUES (\n  {{ $json.chat_id }},\n  '{{ $json.url.replace(/'/g, \"''\") }}',\n  '{{ $json.title.replace(/'/g, \"''\") }}',\n  '{{ $json.content.replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify($json.summary_json).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ $json.difficulty }}'\n)\nON CONFLICT (chat_id, url) DO UPDATE SET\n  title = EXCLUDED.title,\n  content = EXCLUDED.content,\n  summary_json = EXCLUDED.summary_json,\n  difficulty = EXCLUDED.difficulty,\n  added_at = now()\nRETURNING id, chat_id, url, title, summary_json, difficulty;", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-512, -1344], "id": "56589f20-abdb-4e18-aab0-16af1cba2715", "name": "/learn: pg INSERT material", "credentials": {"postgres": {"id": "hGO5xvaEVuwezYxS", "name": "Postgres account"}}}, {"parameters": {"jsCode": "const T = {\n  en: {\n    keyPoints: 'Key points',\n    concepts: 'Concepts',\n    interviewAngle: 'Interview angle',\n    takeQuizNow: '🎯 Take quiz now',\n    summaryFooter: 'Tap below to test yourself with 5 interview-style questions.',\n    materialsSaved: 'Materials saved',\n    quizzesTaken: 'Quizzes taken',\n    avgScore: 'Average score',\n    lastQuiz: 'Last quiz',\n    yourDashboard: 'Your learning dashboard',\n    openDashboard: '📈 Open full dashboard',\n    noHistory: 'No learning history yet.',\n    noHistoryHint: 'Send `/learn [URL]` to add your first material — once you take a quiz, your stats will show up here.',\n    retentionTip: 'Tip: re-quiz a topic after a few days to test retention.',\n    never: 'never',\n    quizComplete: 'Quiz complete',\n    youPicked: 'you picked',\n    correctMark: 'Correct',\n    breakdownFooter: 'Open /stats for your dashboard, or /learn [URL] for a new topic.',\n    headlineStrong: 'Strong recall — material internalised.',\n    headlineSolid: 'Solid baseline — re-skim what you missed.',\n    headlineHalf: 'Halfway there — re-read and re-quiz.',\n    headlineWeak: 'Worth a deep re-read — try again tomorrow.',\n    chooseDifficulty: 'beginner',\n    chooseLearningMaterial: 'Choose a learning material',\n    quizPickPrompt: 'Tap a material to start a quiz:',\n    noMaterialsYet: 'You have no saved materials yet. Send /learn [URL] to add one.',\n    helpUnknown: 'Try /learn [URL], /quiz, /stats, /lang or @' + 'seniorprepcoach_bot in any chat.'\n  },\n  ru: {\n    keyPoints: 'Ключевые моменты',\n    concepts: 'Концепции',\n    interviewAngle: 'Угол на интервью',\n    takeQuizNow: '🎯 Пройти квиз',\n    summaryFooter: 'Нажми кнопку ниже, чтобы пройти 5 вопросов senior-уровня по этому материалу.',\n    materialsSaved: 'Материалов сохранено',\n    quizzesTaken: 'Квизов пройдено',\n    avgScore: 'Средний балл',\n    lastQuiz: 'Последний квиз',\n    yourDashboard: 'Твой learning-дашборд',\n    openDashboard: '📈 Открыть полный дашборд',\n    noHistory: 'Ещё нет истории обучения.',\n    noHistoryHint: 'Отправь `/learn [URL]` чтобы добавить первый материал — после первого квиза тут появится статистика.',\n    retentionTip: 'Совет: пройди квиз заново через несколько дней — проверишь retention.',\n    never: 'никогда',\n    quizComplete: 'Квиз завершён',\n    youPicked: 'ты выбрал',\n    correctMark: 'Правильно',\n    breakdownFooter: 'Открой /stats для дашборда или /learn [URL] чтобы добавить ещё материал.',\n    headlineStrong: 'Сильный recall — материал усвоен.',\n    headlineSolid: 'Базовый уровень — повтори то, что пропустил.',\n    headlineHalf: 'Половина пути — перечитай и проходи квиз снова.',\n    headlineWeak: 'Стоит глубоко перечитать — попробуй завтра ещё раз.',\n    chooseDifficulty: 'начальный',\n    chooseLearningMaterial: 'Выбери материал для квиза',\n    quizPickPrompt: 'Нажми на материал чтобы начать квиз:',\n    noMaterialsYet: 'Сохранённых материалов пока нет. Отправь /learn [URL] чтобы добавить.',\n    helpUnknown: 'Попробуй /learn [URL], /quiz, /stats, /lang или @' + 'seniorprepcoach_bot в любом чате.'\n  }\n};\n\n\nconst row = $('/learn: pg INSERT material').item.json;\nconst materialId = row.id;\nconst chatId = row.chat_id;\nconst title = row.title || 'Untitled';\nconst summary = row.summary_json;\nconst lang = $('lang: pg load /learn').item.json.lang || 'en';\nconst t = T[lang] || T.en;\n\nfunction esc(s) { return String(s == null ? '' : s).replace(/([_*`\\[])/g, '\\\\$1'); }\n\nconst diffEmoji = { beginner: '🟢', intermediate: '🟡', advanced: '🔴' }[summary.difficulty] || '⚪';\n\nconst keyPointsBlock = summary.key_points.map((p, i) => `${i + 1}. ${esc(p)}`).join('\\n');\nconst conceptsBlock = summary.main_concepts.map((c) => `\\`${esc(c)}\\``).join(' · ');\nconst interviewBlock = summary.interview_angle ? `\\n💡 *${t.interviewAngle}:* _${esc(summary.interview_angle)}_` : '';\n\nconst text = `📚 *${esc(title)}*\\n${diffEmoji} _${esc(summary.difficulty)}_\\n\\n*${t.keyPoints}:*\\n${keyPointsBlock}\\n\\n*${t.concepts}:* ${conceptsBlock}${interviewBlock}\\n\\n${t.summaryFooter}`;\n\nconst reply_markup = {\n  inline_keyboard: [[{ text: t.takeQuizNow, callback_data: `pick:${materialId}` }]]\n};\n\nconst body_json = JSON.stringify({ chat_id: chatId, text, parse_mode: 'Markdown', reply_markup });\nreturn [{ json: { chat_id: chatId, text, reply_markup, body_json } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-320, -1344], "id": "670fd299-bb59-42ed-bb7d-f3ba2a3dcaee", "name": "/learn: format summary"}, {"parameters": {"method": "POST", "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "content-type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json.body_json }}", "options": {"timeout": 30000}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-112, -1344], "id": "6764638b-5ce9-4ebc-bb66-adf3248cabd2", "name": "/learn: send summary", "webhookId": "a5d27056-1cfc-402e-9f11-d87a5551da05"}, {"parameters": {"operation": "executeQuery", "query": "SELECT id, title, difficulty FROM app.learning_materials WHERE chat_id = {{ $json.message.chat.id }} ORDER BY added_at DESC LIMIT 20;", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-1712, -848], "id": "6560c37e-5821-4924-9f7d-256eae42e6c7", "name": "/quiz: pg SELECT materials", "credentials": {"postgres": {"id": "hGO5xvaEVuwezYxS", "name": "Postgres account"}}}, {"parameters": {"jsCode": "const chatId = $('Telegram Trigger1').item.json.message.chat.id;\nconst rows = $input.all().map(i => i.json);\n\nlet text, reply_markup;\nif (!rows || rows.length === 0 || !rows[0].id) {\n  text = '\\u{1F4ED} *No saved materials yet.*\\n\\nSend `/learn [URL]` first.';\n  reply_markup = undefined;\n} else {\n  const diffEmoji = { beginner: '\\u{1F7E2}', intermediate: '\\u{1F7E1}', advanced: '\\u{1F534}' };\n  const inline_keyboard = rows.map((r) => [{\n    text: `${diffEmoji[r.difficulty] || '\\u26AA\\uFE0F'} ${(r.title || 'Untitled').slice(0, 60)}`,\n    callback_data: `pick:${r.id}`\n  }]);\n  text = `\\u{1F4DA} *Pick a topic to quiz on:*\\n\\nYou have ${rows.length} saved material${rows.length === 1 ? '' : 's'}.`;\n  reply_markup = { inline_keyboard };\n}\n\nconst payload = { chat_id: chatId, text, parse_mode: 'Markdown' };\nif (reply_markup) payload.reply_markup = reply_markup;\nconst body_json = JSON.stringify(payload);\nreturn [{ json: { chat_id: chatId, body_json } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-1520, -848], "id": "d91d0d56-a019-4211-82bc-57c92be7ffa0", "name": "/quiz: build topic keyboard"}, {"parameters": {"method": "POST", "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "content-type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json.body_json }}", "options": {"timeout": 30000}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-1312, -848], "id": "4fd27f31-b259-4ee5-9fd4-8ae5403d9618", "name": "/quiz: send topics", "webhookId": "81016cdc-9b3a-4e08-872a-da3a6c8f4be5"}, {"parameters": {"operation": "executeQuery", "query": "SELECT m.id AS material_id, m.chat_id, m.title, m.content, m.summary_json, m.difficulty FROM app.learning_materials m WHERE m.id = {{ Number(($json.callback_query.data || '').split(':')[1]) }};", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-1712, -448], "id": "e9d00e87-a657-4987-8a9b-ca689f2b64c0", "name": "pick: pg load material", "credentials": {"postgres": {"id": "hGO5xvaEVuwezYxS", "name": "Postgres account"}}}, {"parameters": {"method": "POST", "url": "https://api.anthropic.com/v1/messages", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}"}, {"name": "anthropic-version", "value": "2023-06-01"}, {"name": "content-type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json.examiner_body }}", "options": {"timeout": 90000}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-1520, -448], "id": "d429b24f-777b-4bbf-92e3-49246c03d899", "name": "pick: Examiner (Haiku)"}, {"parameters": {"jsCode": "const mat = $('pick: pg load material').item.json;\nconst response = $input.first().json;\nconst rawText = response?.content?.[0]?.text || '';\n\nlet parsed;\ntry {\n  const cleaned = rawText.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (err) {\n  throw new Error('Examiner returned unparseable JSON: ' + rawText.slice(0, 300));\n}\n\nif (!Array.isArray(parsed.questions) || parsed.questions.length !== 5) {\n  throw new Error('Examiner did not return 5 questions, got: ' + (parsed.questions || []).length);\n}\n\n// Validate each question + RANDOMIZE option order so correctAnswer isn't always A\nconst letters = ['A','B','C','D'];\nfor (let i = 0; i < 5; i++) {\n  const q = parsed.questions[i];\n  if (!q.id) q.id = `Q${i + 1}`;\n  if (!q.options || !q.options.A || !q.options.B || !q.options.C || !q.options.D) {\n    throw new Error(`Q${i + 1} missing options A-D`);\n  }\n  q.correctAnswer = String(q.correctAnswer || '').toUpperCase();\n  if (!letters.includes(q.correctAnswer)) {\n    throw new Error(`Q${i + 1} has invalid correctAnswer: ${q.correctAnswer}`);\n  }\n  q.explanation = q.explanation || '';\n\n  // Shuffle option order to spread correctAnswer across A/B/C/D\n  const correctText = q.options[q.correctAnswer];\n  const wrongTexts = letters.filter(l => l !== q.correctAnswer).map(l => q.options[l]);\n  // Fisher-Yates shuffle wrongTexts\n  for (let j = wrongTexts.length - 1; j > 0; j--) {\n    const k = Math.floor(Math.random() * (j + 1));\n    [wrongTexts[j], wrongTexts[k]] = [wrongTexts[k], wrongTexts[j]];\n  }\n  // Pick random target slot for the correct answer\n  const targetLetter = letters[Math.floor(Math.random() * 4)];\n  const newOptions = {};\n  let wi = 0;\n  for (const L of letters) {\n    if (L === targetLetter) newOptions[L] = correctText;\n    else newOptions[L] = wrongTexts[wi++];\n  }\n  q.options = newOptions;\n  q.correctAnswer = targetLetter;\n}\n\nreturn [{ json: { material_id: mat.material_id, chat_id: mat.chat_id, questions: parsed.questions } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-1312, -448], "id": "e05393c2-1673-4c7e-9c4a-4ec8f340ae6c", "name": "pick: parse Examiner JSON"}, {"parameters": {"operation": "executeQuery", "query": "INSERT INTO app.quizzes (material_id, chat_id, questions, started_at)\nVALUES (\n  {{ $json.material_id }},\n  {{ $json.chat_id }},\n  '{{ JSON.stringify({ questions: $json.questions }).replace(/'/g, \"''\") }}'::jsonb,\n  now()\n)\nRETURNING id, material_id, chat_id, questions;", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-1120, -448], "id": "c1d32718-0252-48d3-abcf-96af08c169c4", "name": "pick: pg INSERT quiz", "credentials": {"postgres": {"id": "hGO5xvaEVuwezYxS", "name": "Postgres account"}}}, {"parameters": {"jsCode": "const row = $input.first().json;\nconst quizId = row.id;\nconst chatId = row.chat_id;\nconst questions = (row.questions && row.questions.questions) || row.questions;\nconst q = questions[0];\n\nfunction esc(s) { return String(s == null ? '' : s).replace(/([_*`\\[])/g, '\\\\$1'); }\n\nconst text = `\\u{1F3AF} *Question 1 of 5*\\n\\n${esc(q.question)}\\n\\n*A)* ${esc(q.options.A)}\\n*B)* ${esc(q.options.B)}\\n*C)* ${esc(q.options.C)}\\n*D)* ${esc(q.options.D)}`;\n\nconst reply_markup = {\n  inline_keyboard: [\n    [\n      { text: 'A', callback_data: `ans:${quizId}:${q.id}:A` },\n      { text: 'B', callback_data: `ans:${quizId}:${q.id}:B` },\n    ],\n    [\n      { text: 'C', callback_data: `ans:${quizId}:${q.id}:C` },\n      { text: 'D', callback_data: `ans:${quizId}:${q.id}:D` },\n    ],\n  ]\n};\n\nconst body_json = JSON.stringify({ chat_id: chatId, text, parse_mode: 'Markdown', reply_markup });\nreturn [{ json: { chat_id: chatId, body_json } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-912, -448], "id": "d7119391-47b2-4507-a1b0-e973980c5f88", "name": "pick: format Q1"}, {"parameters": {"method": "POST", "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "content-type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json.body_json }}", "options": {"timeout": 30000}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-720, -448], "id": "e0480e2c-15ec-4bbd-ace5-288b912c2ec6", "name": "pick: send Q1", "webhookId": "48cfad48-a2b1-4781-bdad-640ccf84a9e2"}, {"parameters": {"jsCode": "// Parse answer callback: ans:<quiz_id>:Qn:X\nconst cb = $input.first().json.callback_query;\nconst data = cb.data || '';\nconst parts = data.split(':');\nif (parts.length !== 4 || parts[0] !== 'ans') {\n  throw new Error('Malformed answer callback: ' + data);\n}\nconst quizId = parseInt(parts[1], 10);\nconst questionId = parts[2];\nconst userAnswer = parts[3].toUpperCase();\nconst chatId = cb.message.chat.id;\nconst messageId = cb.message.message_id;\n\nreturn [{ json: { quiz_id: quizId, question_id: questionId, user_answer: userAnswer, chat_id: chatId, message_id: messageId } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-1712, -48], "id": "8254314f-c1c1-4fdd-acf2-fde693c1cdc7", "name": "ans: parse callback"}, {"parameters": {"operation": "executeQuery", "query": "SELECT id, material_id, chat_id, questions, started_at, finished_at FROM app.quizzes WHERE id = {{ $json.quiz_id }};", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-1520, -48], "id": "de768344-68af-4cea-a1f8-648d4f04c783", "name": "ans: pg load quiz", "credentials": {"postgres": {"id": "hGO5xvaEVuwezYxS", "name": "Postgres account"}}}, {"parameters": {"jsCode": "// Validate answer, build next-state payload (next Q or final results)\nconst quizRow = $input.first().json;\nconst { quiz_id, question_id, user_answer, chat_id } = $('ans: parse callback').item.json;\n\nconst rawQuestions = quizRow.questions;\nconst questions = (rawQuestions && rawQuestions.questions) || rawQuestions;\nconst qIdx = questions.findIndex(q => q.id === question_id);\nif (qIdx < 0) throw new Error('Question ' + question_id + ' not in quiz ' + quiz_id);\n\nconst q = questions[qIdx];\nconst correctAnswer = String(q.correctAnswer).toUpperCase();\nconst correct = user_answer === correctAnswer;\nconst isLast = qIdx === questions.length - 1;\nconst nextIdx = qIdx + 1;\n\n// Build payload for downstream INSERT into quiz_answers\nconst payload = {\n  quiz_id,\n  question_id,\n  user_answer,\n  correct_answer: correctAnswer,\n  correct,\n  is_last: isLast,\n  chat_id,\n  current_q_idx: qIdx,\n  next_q_idx: nextIdx,\n  questions, // pass forward for downstream formatting\n  user_option_text: q.options[user_answer] || '',\n  correct_option_text: q.options[correctAnswer] || '',\n  explanation: q.explanation || '',\n};\n\nreturn [{ json: payload }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-1312, -48], "id": "39bc8c8e-2e52-487f-903a-49b52cd78e84", "name": "ans: validate"}, {"parameters": {"operation": "executeQuery", "query": "INSERT INTO app.quiz_answers (quiz_id, question_id, user_answer, correct)\nVALUES (\n  {{ $json.quiz_id }},\n  '{{ $json.question_id.replace(/'/g, \"''\") }}',\n  '{{ $json.user_answer.replace(/'/g, \"''\") }}',\n  {{ $json.correct }}\n)\nON CONFLICT (quiz_id, question_id) DO NOTHING\nRETURNING id;", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-1120, -48], "id": "b14ad64f-bb62-489f-8aa7-03fec81103e5", "name": "ans: pg INSERT answer", "credentials": {"postgres": {"id": "hGO5xvaEVuwezYxS", "name": "Postgres account"}}}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2}, "conditions": [{"id": "c-last", "leftValue": "={{ $('ans: validate').item.json.is_last }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true", "singleValue": true}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [-912, -48], "id": "c1383283-8be6-409c-9b5d-f0ac4cf42243", "name": "ans: is last Q?"}, {"parameters": {"operation": "executeQuery", "query": "WITH agg AS (\n  SELECT quiz_id,\n         ROUND(100.0 * SUM(CASE WHEN correct THEN 1 ELSE 0 END) / COUNT(*))::INT AS score_pct\n  FROM app.quiz_answers\n  WHERE quiz_id = {{ $('poll_ans: validate').isExecuted ? $('poll_ans: validate').item.json.quiz_id : $('ans: validate').item.json.quiz_id }}\n  GROUP BY quiz_id\n)\nUPDATE app.quizzes q\nSET finished_at = now(), score_pct = agg.score_pct\nFROM agg\nWHERE q.id = agg.quiz_id\nRETURNING q.id, q.score_pct;", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-720, -144], "id": "fe38a501-32c7-4fc2-9639-a7710ec95331", "name": "ans: pg finalize quiz", "credentials": {"postgres": {"id": "hGO5xvaEVuwezYxS", "name": "Postgres account"}}}, {"parameters": {"operation": "executeQuery", "query": "SELECT qa.question_id, qa.user_answer, qa.correct, q.questions\nFROM app.quiz_answers qa\nJOIN app.quizzes q ON q.id = qa.quiz_id\nWHERE qa.quiz_id = {{ $('poll_ans: validate').isExecuted ? $('poll_ans: validate').item.json.quiz_id : $('ans: validate').item.json.quiz_id }}\nORDER BY qa.question_id;", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-512, -144], "id": "ab5fa72b-d7e8-4135-84ce-e1a9b5530f2d", "name": "ans: pg load all answers", "credentials": {"postgres": {"id": "hGO5xvaEVuwezYxS", "name": "Postgres account"}}}, {"parameters": {"jsCode": "const T = {\n  en: {\n    keyPoints: 'Key points',\n    concepts: 'Concepts',\n    interviewAngle: 'Interview angle',\n    takeQuizNow: '🎯 Take quiz now',\n    summaryFooter: 'Tap below to test yourself with 5 interview-style questions.',\n    materialsSaved: 'Materials saved',\n    quizzesTaken: 'Quizzes taken',\n    avgScore: 'Average score',\n    lastQuiz: 'Last quiz',\n    yourDashboard: 'Your learning dashboard',\n    openDashboard: '📈 Open full dashboard',\n    noHistory: 'No learning history yet.',\n    noHistoryHint: 'Send `/learn [URL]` to add your first material — once you take a quiz, your stats will show up here.',\n    retentionTip: 'Tip: re-quiz a topic after a few days to test retention.',\n    never: 'never',\n    quizComplete: 'Quiz complete',\n    youPicked: 'you picked',\n    correctMark: 'Correct',\n    breakdownFooter: 'Open /stats for your dashboard, or /learn [URL] for a new topic.',\n    breakdownPart: 'Part',\n    headlineStrong: 'Strong recall — material internalised.',\n    headlineSolid: 'Solid baseline — re-skim what you missed.',\n    headlineHalf: 'Halfway there — re-read and re-quiz.',\n    headlineWeak: 'Worth a deep re-read — try again tomorrow.'\n  },\n  ru: {\n    keyPoints: 'Ключевые моменты',\n    concepts: 'Концепции',\n    interviewAngle: 'Угол на интервью',\n    takeQuizNow: '🎯 Пройти квиз',\n    summaryFooter: 'Нажми кнопку ниже, чтобы пройти 5 вопросов senior-уровня по этому материалу.',\n    materialsSaved: 'Материалов сохранено',\n    quizzesTaken: 'Квизов пройдено',\n    avgScore: 'Средний балл',\n    lastQuiz: 'Последний квиз',\n    yourDashboard: 'Твой learning-дашборд',\n    openDashboard: '📈 Открыть полный дашборд',\n    noHistory: 'Ещё нет истории обучения.',\n    noHistoryHint: 'Отправь `/learn [URL]` чтобы добавить первый материал — после первого квиза тут появится статистика.',\n    retentionTip: 'Совет: пройди квиз заново через несколько дней — проверишь retention.',\n    never: 'никогда',\n    quizComplete: 'Квиз завершён',\n    youPicked: 'ты выбрал',\n    correctMark: 'Правильно',\n    breakdownFooter: 'Открой /stats для дашборда или /learn [URL] чтобы добавить ещё материал.',\n    breakdownPart: 'Часть',\n    headlineStrong: 'Сильный recall — материал усвоен.',\n    headlineSolid: 'Базовый уровень — повтори то, что пропустил.',\n    headlineHalf: 'Половина пути — перечитай и проходи квиз снова.',\n    headlineWeak: 'Стоит глубоко перечитать — попробуй завтра ещё раз.'\n  }\n};\n\n\nconst answers = $('ans: pg load all answers').all().map(i => i.json);\n\nconst src = $('poll_ans: validate').isExecuted\n  ? $('poll_ans: validate').item.json\n  : $('ans: validate').item.json;\nconst chatId = src.chat_id;\nconst lang = $('lang: pg load /ans').item.json.lang || 'en';\nconst t = T[lang] || T.en;\n\nconst raw = answers[0]?.questions;\nconst questions = (raw && raw.questions) || raw;\n\nconst correctCount = answers.filter(a => a.correct).length;\nconst total = answers.length;\nconst pct = Math.round(100 * correctCount / total);\n\nlet badge, effectId, tagline;\nif (pct >= 80)      { badge = '🏆'; effectId = '5104841245755180586'; tagline = t.headlineStrong; }\nelse if (pct >= 60) { badge = '✨'; effectId = '5046509860389126442'; tagline = t.headlineSolid; }\nelse if (pct >= 40) { badge = '💡'; effectId = '5107584321108051014'; tagline = t.headlineHalf; }\nelse                { badge = '🥊'; effectId = '5104858069142078462'; tagline = t.headlineWeak; }\n\nfunction h(s) { return String(s == null ? '' : s).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;'); }\n\n// HEADLINE (with effect)\nconst headlineText = `${badge} <b>${t.quizComplete}: ${correctCount}/${total} (${pct}%)</b>\\n<i>${h(tagline)}</i>`;\nconst headlineBody = { chat_id: chatId, text: headlineText, parse_mode: 'HTML' };\nif (effectId) headlineBody.message_effect_id = effectId;\nconst body_headline = JSON.stringify(headlineBody);\n\n// BREAKDOWN — chunk into pieces ≤ 3500 chars\n// Build per-question blocks first\nconst blocks = answers.map(a => {\n  const q = questions.find(qq => qq.id === a.question_id);\n  const mark = a.correct ? '✅' : '❌';\n  const userOpt = h(q?.options?.[a.user_answer] || '');\n  const correctLetter = q?.correctAnswer || '?';\n  const correctOpt = h(q?.options?.[correctLetter] || '');\n\n  let block = `${mark} <b>${a.question_id}</b> — ${t.youPicked} <i>${h(a.user_answer)}</i>: ${userOpt}`;\n  if (!a.correct) {\n    block += `\\n     ✓ ${t.correctMark}: <b>${h(correctLetter)}</b> — ${correctOpt}`;\n    if (q?.explanation) block += `\\n     💡 <i>${h(q.explanation)}</i>`;\n  }\n  return block;\n});\n\n// Greedy pack blocks into chunks\nconst MAX_LEN = 3500;\nconst chunks = [];\nlet current = '';\nfor (const block of blocks) {\n  const sep = current ? '\\n\\n' : '';\n  if (current.length + sep.length + block.length > MAX_LEN && current) {\n    chunks.push(current);\n    current = block;\n  } else {\n    current = current + sep + block;\n  }\n}\nif (current) chunks.push(current);\n\n// Append footer to last chunk\nchunks[chunks.length - 1] += `\\n\\n${t.breakdownFooter}`;\n\n// Emit one item per chunk; HTTP Request will iterate over items\nconst items = chunks.map((text, i) => {\n  let prefixedText = text;\n  if (chunks.length > 1) {\n    prefixedText = `<b>${t.breakdownPart} ${i + 1}/${chunks.length}</b>\\n\\n` + text;\n  }\n  const body_json = JSON.stringify({ chat_id: chatId, text: prefixedText, parse_mode: 'HTML' });\n  return { json: { chat_id: chatId, body_headline, body_breakdown: body_json, chunk_index: i, total_chunks: chunks.length } };\n});\n\nreturn items;"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-320, -144], "id": "beb1014a-08a2-43db-91dd-abd833551dc5", "name": "ans: format results"}, {"parameters": {"method": "POST", "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json.body_headline }}", "options": {"neverError": false}, "executeOnce": true}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-112, -144], "id": "3428e19d-c967-4f53-8bd4-d71c621e8c37", "name": "ans: send headline", "executeOnce": true}, {"parameters": {"jsCode": "const v = $('ans: validate').item.json;\nconst questions = v.questions;\nconst nextQ = questions[v.next_q_idx];\nconst chatId = v.chat_id;\nconst quizId = v.quiz_id;\nconst qNum = v.next_q_idx + 1;\n\nfunction esc(s) { return String(s == null ? '' : s).replace(/([_*`\\[])/g, '\\\\$1'); }\n\nconst prevMark = v.correct ? '\\u2705 correct' : `\\u274C wrong (was *${v.correct_answer}*)`;\nconst text = `${prevMark}\\n\\n\\u{1F3AF} *Question ${qNum} of 5*\\n\\n${esc(nextQ.question)}\\n\\n*A)* ${esc(nextQ.options.A)}\\n*B)* ${esc(nextQ.options.B)}\\n*C)* ${esc(nextQ.options.C)}\\n*D)* ${esc(nextQ.options.D)}`;\n\nconst reply_markup = {\n  inline_keyboard: [\n    [\n      { text: 'A', callback_data: `ans:${quizId}:${nextQ.id}:A` },\n      { text: 'B', callback_data: `ans:${quizId}:${nextQ.id}:B` },\n    ],\n    [\n      { text: 'C', callback_data: `ans:${quizId}:${nextQ.id}:C` },\n      { text: 'D', callback_data: `ans:${quizId}:${nextQ.id}:D` },\n    ],\n  ]\n};\n\nconst body_json = JSON.stringify({ chat_id: chatId, text, parse_mode: 'Markdown', reply_markup });\nreturn [{ json: { chat_id: chatId, body_json } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-720, 64], "id": "dd686c6e-ec82-4f29-bb32-11f025b8a567", "name": "ans: format next Q"}, {"parameters": {"method": "POST", "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "content-type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json.body_json }}", "options": {"timeout": 30000}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-512, 64], "id": "5b012573-28f0-491f-8184-87bb700eff76", "name": "ans: send next Q", "webhookId": "60321860-f73b-48a5-8890-3c949db7f0e5"}, {"parameters": {"operation": "executeQuery", "query": "SELECT materials_count, quizzes_taken, COALESCE(avg_score_pct, 0) AS avg_score_pct, last_quiz_at, advanced_materials, intermediate_materials, beginner_materials FROM app.v_user_stats WHERE chat_id = {{ $json.message.chat.id }};", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-1712, 464], "id": "b7219700-7dc0-4c90-9d1f-d19af7660dae", "name": "/stats: pg load", "credentials": {"postgres": {"id": "hGO5xvaEVuwezYxS", "name": "Postgres account"}}}, {"parameters": {"jsCode": "const T = {\n  en: {\n    keyPoints: 'Key points',\n    concepts: 'Concepts',\n    interviewAngle: 'Interview angle',\n    takeQuizNow: '🎯 Take quiz now',\n    summaryFooter: 'Tap below to test yourself with 5 interview-style questions.',\n    materialsSaved: 'Materials saved',\n    quizzesTaken: 'Quizzes taken',\n    avgScore: 'Average score',\n    lastQuiz: 'Last quiz',\n    yourDashboard: 'Your learning dashboard',\n    openDashboard: '📈 Open full dashboard',\n    noHistory: 'No learning history yet.',\n    noHistoryHint: 'Send `/learn [URL]` to add your first material — once you take a quiz, your stats will show up here.',\n    retentionTip: 'Tip: re-quiz a topic after a few days to test retention.',\n    never: 'never',\n    quizComplete: 'Quiz complete',\n    youPicked: 'you picked',\n    correctMark: 'Correct',\n    breakdownFooter: 'Open /stats for your dashboard, or /learn [URL] for a new topic.',\n    headlineStrong: 'Strong recall — material internalised.',\n    headlineSolid: 'Solid baseline — re-skim what you missed.',\n    headlineHalf: 'Halfway there — re-read and re-quiz.',\n    headlineWeak: 'Worth a deep re-read — try again tomorrow.',\n    chooseDifficulty: 'beginner',\n    chooseLearningMaterial: 'Choose a learning material',\n    quizPickPrompt: 'Tap a material to start a quiz:',\n    noMaterialsYet: 'You have no saved materials yet. Send /learn [URL] to add one.',\n    helpUnknown: 'Try /learn [URL], /quiz, /stats, /lang or @' + 'seniorprepcoach_bot in any chat.'\n  },\n  ru: {\n    keyPoints: 'Ключевые моменты',\n    concepts: 'Концепции',\n    interviewAngle: 'Угол на интервью',\n    takeQuizNow: '🎯 Пройти квиз',\n    summaryFooter: 'Нажми кнопку ниже, чтобы пройти 5 вопросов senior-уровня по этому материалу.',\n    materialsSaved: 'Материалов сохранено',\n    quizzesTaken: 'Квизов пройдено',\n    avgScore: 'Средний балл',\n    lastQuiz: 'Последний квиз',\n    yourDashboard: 'Твой learning-дашборд',\n    openDashboard: '📈 Открыть полный дашборд',\n    noHistory: 'Ещё нет истории обучения.',\n    noHistoryHint: 'Отправь `/learn [URL]` чтобы добавить первый материал — после первого квиза тут появится статистика.',\n    retentionTip: 'Совет: пройди квиз заново через несколько дней — проверишь retention.',\n    never: 'никогда',\n    quizComplete: 'Квиз завершён',\n    youPicked: 'ты выбрал',\n    correctMark: 'Правильно',\n    breakdownFooter: 'Открой /stats для дашборда или /learn [URL] чтобы добавить ещё материал.',\n    headlineStrong: 'Сильный recall — материал усвоен.',\n    headlineSolid: 'Базовый уровень — повтори то, что пропустил.',\n    headlineHalf: 'Половина пути — перечитай и проходи квиз снова.',\n    headlineWeak: 'Стоит глубоко перечитать — попробуй завтра ещё раз.',\n    chooseDifficulty: 'начальный',\n    chooseLearningMaterial: 'Выбери материал для квиза',\n    quizPickPrompt: 'Нажми на материал чтобы начать квиз:',\n    noMaterialsYet: 'Сохранённых материалов пока нет. Отправь /learn [URL] чтобы добавить.',\n    helpUnknown: 'Попробуй /learn [URL], /quiz, /stats, /lang или @' + 'seniorprepcoach_bot в любом чате.'\n  }\n};\n\n\nconst chatId = $('Telegram Trigger1').item.json.message.chat.id;\nconst row = $('/stats: pg load').item.json;\nconst lang = (row && row.lang) || $('lang: pg load /stats').item.json.lang || 'en';\nconst t = T[lang] || T.en;\n\nconst dashUrl = `https://seniorprepcoach.ngrok.dev/webhook/dashboard?chat_id=${chatId}&lang=${lang}`;\nconst reply_markup = {\n  inline_keyboard: [[\n    { text: t.openDashboard, web_app: { url: dashUrl } }\n  ]]\n};\n\nif (!row || row.materials_count === undefined || row.materials_count === null || row.materials_count === 0) {\n  const text = `📊 *${t.noHistory}*\\n\\n${t.noHistoryHint}`;\n  const body_json = JSON.stringify({ chat_id: chatId, text, parse_mode: 'Markdown' });\n  return [{ json: { chat_id: chatId, text, body_json } }];\n}\n\nfunction bar(n, total = 10) {\n  const filled = Math.min(total, Math.max(0, Math.round((n / 100) * total)));\n  return '█'.repeat(filled) + '░'.repeat(total - filled);\n}\n\nconst score = Number(row.avg_score_pct) || 0;\nconst lastQuiz = row.last_quiz_at ? new Date(row.last_quiz_at).toISOString().split('T')[0] : t.never;\n\nconst lines = [\n  `📊 *${t.yourDashboard}*`,\n  '',\n  `📚 *${t.materialsSaved}:* ${row.materials_count}`,\n  `   🟢 beginner: ${row.beginner_materials || 0}`,\n  `   🟡 intermediate: ${row.intermediate_materials || 0}`,\n  `   🔴 advanced: ${row.advanced_materials || 0}`,\n  '',\n  `🎯 *${t.quizzesTaken}:* ${row.quizzes_taken || 0}`,\n  `📈 *${t.avgScore}:* ${score}%`,\n  `      \\`${bar(score)}\\``,\n  `🕒 *${t.lastQuiz}:* ${lastQuiz}`,\n  '',\n  `_${t.retentionTip}_`,\n];\n\nconst text = lines.join('\\n');\nconst body_json = JSON.stringify({ chat_id: chatId, text, parse_mode: 'Markdown', reply_markup });\nreturn [{ json: { chat_id: chatId, text, body_json } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-1520, 464], "id": "a469a9b6-3a80-4e24-8135-7b7608a7c011", "name": "/stats: format"}, {"parameters": {"method": "POST", "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json.body_json }}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-1312, 464], "id": "b587aff9-c0d2-4e42-89d1-5d26bcfcc56f", "name": "/stats: send"}, {"parameters": {"chatId": "={{ $('Telegram Trigger1').item.json.message?.chat?.id ?? $('Telegram Trigger1').item.json.callback_query?.message?.chat?.id }}", "text": "рџ¤” I don't recognise that command.\n\nTry: /start, /learn <url>, /quiz, /stats", "additionalFields": {"appendAttribution": false, "parse_mode": "Markdown"}}, "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [-1712, 864], "id": "06496ab3-4203-4778-90c6-7f65c6a63f6c", "name": "other: reply", "webhookId": "cf5dcf64-467e-4866-8a83-6d3d6ac91e66", "credentials": {"telegramApi": {"id": "16HbsiVzJWWZ9vy7", "name": "Telegram account"}}}, {"parameters": {"updates": ["message", "callback_query", "poll_answer", "inline_query"], "additionalFields": {}}, "type": "n8n-nodes-base.telegramTrigger", "typeVersion": 1.2, "position": [-2208, -1040], "id": "a0cdcecc-c73f-4b0e-89ba-c6291e4f3086", "name": "Telegram Trigger1", "webhookId": "task3-telegram-trigger", "credentials": {"telegramApi": {"id": "16HbsiVzJWWZ9vy7", "name": "Telegram account"}}}, {"parameters": {"jsCode": "// Build localized /start welcome message\nconst tgLang = $('Telegram Trigger1').item.json.message?.from?.language_code || 'en';\nconst ru = tgLang.startsWith('ru');\nconst chatId = $('Telegram Trigger1').item.json.message.chat.id;\n\nconst text = ru\n  ? `👋 *Добро пожаловать в Senior Interview Coach!*\n\nЯ AI-бот для подготовки к senior backend интервью — построен на n8n + Claude (Opus 4.7 Teacher, Haiku 4.5 Examiner).\n\n*Что я умею:*\n\n📚 \\`/learn [URL]\\` — отправь URL статьи / документации / блог-поста → я извлеку контент и сделаю структурированное саммари (5-7 ключевых пунктов + основные концепции + уровень сложности), откалиброванное под senior-планку.\n\n🎯 \\`/quiz\\` — выбери материал из своих сохранённых → я сгенерирую 5 вопросов senior-уровня с интеллектуальной валидацией ответов и объяснениями.\n\n📊 \\`/stats\\` — посмотри свой learning-дашборд (материалы, пройденные квизы, средний балл) + кнопка для открытия Mini App с графиками.\n\n🌐 \\`/lang\\` — переключи язык бота (English / Русский).\n\n🔍 \\`@seniorprepcoach_bot <запрос>\\` — поиск по своим материалам из любого чата (inline mode).\n\n*Попробуй прямо сейчас:*\n\\`/learn https://martinfowler.com/articles/microservices.html\\``\n  : `👋 *Welcome to Senior Interview Coach!*\n\nI'm an AI-powered learning bot for senior backend interview prep — built on n8n + Claude (Opus 4.7 Teacher, Haiku 4.5 Examiner).\n\n*What I can do:*\n\n📚 \\`/learn [URL]\\` — submit any article / docs / blog post URL → I'll extract the content and produce a structured summary (5-7 key points + main concepts + difficulty) calibrated to the senior backend bar.\n\n🎯 \\`/quiz\\` — pick from your saved materials → I'll generate 5 senior-level multiple-choice questions with intelligent answer validation and explanations.\n\n📊 \\`/stats\\` — see your learning dashboard (materials, quizzes taken, average score) + Mini App with charts.\n\n🌐 \\`/lang\\` — switch bot language (English / Русский).\n\n🔍 \\`@seniorprepcoach_bot <query>\\` — search your materials inline from any chat.\n\n*Try me right now:*\n\\`/learn https://martinfowler.com/articles/microservices.html\\``;\n\nconst body_json = JSON.stringify({ chat_id: chatId, text, parse_mode: 'Markdown' });\nreturn [{ json: { chat_id: chatId, body_json } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-1712, -1648], "id": "227f09e9-7650-4fc5-8e8b-e29c71dc40ed", "name": "/start: build text"}, {"parameters": {"method": "POST", "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "content-type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json.body_json }}", "options": {"timeout": 15000}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-300, -400], "id": "node-learn-ack", "name": "/learn: send ack (loading)"}, {"parameters": {"jsCode": "\nconst lang = $('lang: pg load pick').item.json.lang || 'en';\nconst langDirective = lang === 'ru'\n  ? '\\n\\nAll output strings (question, options A/B/C/D, explanation) must be in Russian. Answer letters stay A/B/C/D.'\n  : '';\n// Build the Anthropic Examiner request body as a JSON string here.\nconst mat = $('pick: pg load material').item.json;\n\nlet systemPrompt = \"You are the Examiner in an AI-powered learning assistant for senior backend engineers preparing for staff-tier interviews. Given a material title, summary, and full content, generate EXACTLY 5 multiple-choice questions that probe whether the reader internalized the material at senior interview level.\\n\\nSTYLE non-negotiable:\\n1. NO trivia. No year/acronym recall.\\n2. PROBE understanding: apply concept to scenario, compare approaches, identify failure mode, spot what breaks if assumption changes.\\n3. INTERVIEW FRAMING: phrase as interviewer would speak it.\\n4. PLAUSIBLE DISTRACTORS: wrong options represent real misconceptions.\\n5. ONE CORRECT ANSWER each (single best answer).\\n6. EXPLANATIONS MUST TEACH why right is right AND why distractors are wrong.\\n7. NO HARDCODING.\\n\\nOutput JSON with EXACTLY this schema:\\n{\\n  \\\"questions\\\": [\\n    { \\\"id\\\": \\\"Q1\\\", \\\"question\\\": \\\"<=280 chars\\\", \\\"options\\\": { \\\"A\\\": \\\"<=120\\\", \\\"B\\\": \\\"<=120\\\", \\\"C\\\": \\\"<=120\\\", \\\"D\\\": \\\"<=120\\\" }, \\\"correctAnswer\\\": \\\"A\\\"|\\\"B\\\"|\\\"C\\\"|\\\"D\\\", \\\"explanation\\\": \\\"<2-4 sentences>\\\" }, ...Q2-Q5\\n  ]\\n}\\n\\nExactly 5 questions, IDs Q1-Q5, 4 options A-D each, correctAnswer single A-D letter. Distribute correct answers across A/B/C/D.\\n\\nOutput ONLY the JSON. No fences, no commentary.\";\nsystemPrompt += langDirective;\n\n\nconst summary = mat.summary_json || {};\nconst keyPoints = Array.isArray(summary.key_points) ? summary.key_points.join('\\n') : '';\nconst concepts = Array.isArray(summary.main_concepts) ? summary.main_concepts.join(', ') : '';\nconst userContent = 'TITLE: ' + (mat.title || '') + '\\nDIFFICULTY: ' + (mat.difficulty || '') + '\\n\\nKEY POINTS:\\n' + keyPoints + '\\n\\nCONCEPTS: ' + concepts + '\\n\\nFULL CONTENT:\\n' + (mat.content || '');\n\nconst examiner_body = JSON.stringify({\n  model: 'claude-sonnet-4-5',\n  max_tokens: 3500,\n  system: systemPrompt,\n  messages: [{ role: 'user', content: userContent }]\n});\n\nreturn [{ json: { ...mat, examiner_body } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-400, 600], "id": "node-pick-buildbody", "name": "pick: build examiner body"}, {"parameters": {"jsCode": "// Build sendPoll quiz-mode body.\n// Inputs may be:\n//   (a) pick: pg INSERT quiz output — has fields: id (quiz_id), material_id, chat_id, questions (JSONB)\n//   (b) poll_ans: validate output — has fields: quiz_id, chat_id, next_q_idx, questions\n\nconst ctx = $input.first().json;\n\nconst quizId = ctx.quiz_id !== undefined ? ctx.quiz_id : ctx.id;\nconst chatId = ctx.chat_id;\nconst questions = (ctx.questions && ctx.questions.questions) || ctx.questions;\nconst qIdx = ctx.next_q_idx !== undefined ? ctx.next_q_idx : 0;\nconst q = questions[qIdx];\n\nconst letters = ['A', 'B', 'C', 'D'];\n// Each option: prefix with letter for clarity, then truncate to Telegram 100-char limit\nconst options = letters.map(L => {\n  const raw = `${L}) ${q.options[L] || ''}`;\n  return raw.length > 100 ? raw.slice(0, 97) + '...' : raw;\n});\nconst correctOptionId = letters.indexOf(q.correctAnswer);\nif (correctOptionId === -1) throw new Error('Invalid correctAnswer: ' + q.correctAnswer);\n\n// Telegram explanation: 200 chars max\nlet explanation = q.explanation || '';\nif (explanation.length > 200) explanation = explanation.slice(0, 197) + '...';\n\n// Question text: Telegram poll question max 300 chars\nlet questionText = `Q${qIdx + 1} of ${questions.length}: ${q.question}`;\nif (questionText.length > 300) questionText = questionText.slice(0, 297) + '...';\n\nconst body_json = JSON.stringify({\n  chat_id: chatId,\n  type: 'quiz',\n  question: questionText,\n  options: options,\n  correct_option_id: correctOptionId,\n  explanation: explanation,\n  is_anonymous: false\n});\n\nreturn [{ json: {\n  chat_id: chatId,\n  quiz_id: quizId,\n  question_id: q.id,\n  question_idx: qIdx,\n  correct_option_id: correctOptionId,\n  body_json\n} }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [100, 600], "id": "node-pick-buildpoll", "name": "pick: build poll body"}, {"parameters": {"method": "POST", "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendPoll", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "content-type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json.body_json }}", "options": {"timeout": 30000}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [300, 600], "id": "node-pick-sendpoll", "name": "pick: send poll"}, {"parameters": {"jsCode": "const resp = $input.first().json;\nconst pollId = resp?.result?.poll?.id;\nif (!pollId) throw new Error('No poll.id in sendPoll response');\n\n// Try pick path first, fallback to poll_ans path\nlet builder;\nif ($('pick: build poll body').isExecuted) {\n  builder = $('pick: build poll body').item.json;\n} else if ($('poll_ans: build next poll body').isExecuted) {\n  builder = $('poll_ans: build next poll body').item.json;\n} else {\n  throw new Error('No build body node executed in this run');\n}\n\nreturn [{ json: {\n  poll_id: pollId,\n  quiz_id: builder.quiz_id,\n  chat_id: builder.chat_id,\n  question_id: builder.question_id,\n  question_idx: builder.question_idx,\n  correct_option_id: builder.correct_option_id\n} }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [500, 600], "id": "node-pick-capture", "name": "pick: capture poll_id"}, {"parameters": {"operation": "executeQuery", "query": "INSERT INTO app.quiz_polls (poll_id, quiz_id, chat_id, question_id, question_idx, correct_option_id)\nVALUES (\n  '{{ $json.poll_id.replace(/'/g, \"''\") }}',\n  {{ $json.quiz_id }},\n  {{ $json.chat_id }},\n  '{{ $json.question_id.replace(/'/g, \"''\") }}',\n  {{ $json.question_idx }},\n  {{ $json.correct_option_id }}\n)\nON CONFLICT (poll_id) DO NOTHING\nRETURNING poll_id;", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [700, 600], "id": "node-pick-pginsertpoll", "name": "pick: pg INSERT quiz_polls", "credentials": {"postgres": {"id": "hGO5xvaEVuwezYxS", "name": "Postgres account"}}}, {"parameters": {"jsCode": "const pa = $input.first().json.poll_answer;\nif (!pa) throw new Error('No poll_answer payload');\nreturn [{ json: {\n  poll_id: pa.poll_id,\n  chat_id: pa.user?.id,\n  selected_option_id: (pa.option_ids || [])[0]\n} }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-700, 1300], "id": "node-pollans-parse", "name": "poll_ans: parse"}, {"parameters": {"operation": "executeQuery", "query": "SELECT qp.quiz_id, qp.chat_id, qp.question_id, qp.question_idx,\n       qp.correct_option_id, q.questions\nFROM app.quiz_polls qp\nJOIN app.quizzes q ON q.id = qp.quiz_id\nWHERE qp.poll_id = '{{ $json.poll_id.replace(/'/g, \"''\") }}';", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-500, 1300], "id": "node-pollans-load", "name": "poll_ans: pg load", "credentials": {"postgres": {"id": "hGO5xvaEVuwezYxS", "name": "Postgres account"}}}, {"parameters": {"jsCode": "const row = $input.first().json;\nconst pa = $('poll_ans: parse').item.json;\n\nconst correct = pa.selected_option_id === row.correct_option_id;\nconst letters = ['A','B','C','D'];\nconst userAnswer = letters[pa.selected_option_id] || '?';\nconst correctAnswer = letters[row.correct_option_id] || '?';\n\nconst questions = (row.questions && row.questions.questions) || row.questions;\nconst isLast = row.question_idx === questions.length - 1;\nconst nextIdx = row.question_idx + 1;\n\nreturn [{ json: {\n  quiz_id: row.quiz_id,\n  chat_id: row.chat_id,\n  question_id: row.question_id,\n  question_idx: row.question_idx,\n  next_q_idx: nextIdx,\n  user_answer: userAnswer,\n  correct_answer: correctAnswer,\n  correct,\n  is_last: isLast,\n  questions\n} }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-300, 1300], "id": "node-pollans-validate", "name": "poll_ans: validate"}, {"parameters": {"operation": "executeQuery", "query": "INSERT INTO app.quiz_answers (quiz_id, question_id, user_answer, correct)\nVALUES (\n  {{ $json.quiz_id }},\n  '{{ $json.question_id.replace(/'/g, \"''\") }}',\n  '{{ $json.user_answer.replace(/'/g, \"''\") }}',\n  {{ $json.correct }}\n)\nON CONFLICT (quiz_id, question_id) DO NOTHING\nRETURNING id;", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-100, 1300], "id": "node-pollans-insert", "name": "poll_ans: pg INSERT answer", "credentials": {"postgres": {"id": "hGO5xvaEVuwezYxS", "name": "Postgres account"}}}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2}, "conditions": [{"id": "c-pa-last", "leftValue": "={{ $('poll_ans: validate').item.json.is_last }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true", "singleValue": true}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [100, 1300], "id": "node-pollans-islast", "name": "poll_ans: is last Q?"}, {"parameters": {"jsCode": "const v = $('poll_ans: validate').item.json;\nconst questions = v.questions;\nconst qIdx = v.next_q_idx;\nconst q = questions[qIdx];\n\nconst letters = ['A', 'B', 'C', 'D'];\nconst options = letters.map(L => {\n  const raw = L + ') ' + (q.options[L] || '');\n  return raw.length > 100 ? raw.slice(0, 97) + '...' : raw;\n});\nconst correctOptionId = letters.indexOf(q.correctAnswer);\n\nlet explanation = q.explanation || '';\nif (explanation.length > 200) explanation = explanation.slice(0, 197) + '...';\n\nlet questionText = 'Q' + (qIdx + 1) + ' of ' + questions.length + ': ' + q.question;\nif (questionText.length > 300) questionText = questionText.slice(0, 297) + '...';\n\nconst body_json = JSON.stringify({\n  chat_id: v.chat_id,\n  type: 'quiz',\n  question: questionText,\n  options,\n  correct_option_id: correctOptionId,\n  explanation,\n  is_anonymous: false\n});\n\nreturn [{ json: {\n  chat_id: v.chat_id,\n  quiz_id: v.quiz_id,\n  question_id: q.id,\n  question_idx: qIdx,\n  correct_option_id: correctOptionId,\n  body_json\n} }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [300, 1400], "id": "node-pollans-buildnext", "name": "poll_ans: build next poll body"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2}, "conditions": [{"id": "c-fb-pa", "leftValue": "={{ $json.poll_answer }}", "rightValue": "", "operator": {"type": "object", "operation": "exists", "singleValue": true}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [-800, 1900], "id": "node-fallback-ispa", "name": "fallback: is poll_answer?"}, {"parameters": {"method": "POST", "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/setMessageReaction", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ chat_id: $('Telegram Trigger1').item.json.message.chat.id, message_id: $('Telegram Trigger1').item.json.message.message_id, reaction: [{ type: 'emoji', emoji: '🤔' }] }) }}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-200, -700], "id": "6ef48099-8c52-4620-8799-0a937d80d89f", "name": "learn: react thinking"}, {"parameters": {"method": "POST", "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/setMessageReaction", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ chat_id: $('Telegram Trigger1').item.json.message.chat.id, message_id: $('Telegram Trigger1').item.json.message.message_id, reaction: [{ type: 'emoji', emoji: '🎓' }] }) }}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1100, -700], "id": "f3348438-8144-4436-930d-00c8c9c6bf0e", "name": "learn: react graduated"}, {"parameters": {"httpMethod": "GET", "path": "dashboard", "responseMode": "responseNode", "options": {}}, "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-1400, 1200], "id": "36485efb-386d-4abe-a0dd-ceffdd7e654e", "name": "miniapp: webhook /dashboard", "webhookId": "bb6c4c70-d0c8-4623-b279-7684551a313e"}, {"parameters": {"operation": "executeQuery", "query": "SELECT \n  COALESCE(v.materials_count, 0) AS materials_count,\n  COALESCE(v.quizzes_taken, 0) AS quizzes_taken,\n  COALESCE(v.avg_score_pct, 0) AS avg_score_pct,\n  COALESCE(v.beginner_materials, 0) AS beginner_materials,\n  COALESCE(v.intermediate_materials, 0) AS intermediate_materials,\n  COALESCE(v.advanced_materials, 0) AS advanced_materials,\n  v.last_quiz_at,\n  (SELECT COALESCE(json_agg(row_to_json(t)), '[]'::json) FROM (\n    SELECT id, title, difficulty,\n           to_char(added_at AT TIME ZONE 'UTC','YYYY-MM-DD') AS added_at,\n           (SELECT MAX(score_pct) FROM app.quizzes q WHERE q.material_id = m.id AND q.finished_at IS NOT NULL) AS best_score\n    FROM app.learning_materials m\n    WHERE m.chat_id = {{ Number($json.query.chat_id) }}\n    ORDER BY added_at DESC LIMIT 20\n  ) t) AS materials,\n  (SELECT COALESCE(json_agg(row_to_json(t) ORDER BY t.finished_at), '[]'::json) FROM (\n    SELECT q.id, q.score_pct,\n           to_char(q.finished_at AT TIME ZONE 'UTC','YYYY-MM-DD HH24:MI') AS finished_at,\n           m.title, m.difficulty\n    FROM app.quizzes q JOIN app.learning_materials m ON m.id = q.material_id\n    WHERE q.chat_id = {{ Number($json.query.chat_id) }} AND q.finished_at IS NOT NULL\n    ORDER BY q.finished_at DESC LIMIT 20\n  ) t) AS quizzes,\n  (SELECT COALESCE(json_agg(row_to_json(t)), '[]'::json) FROM (\n    SELECT to_char(date_trunc('day', finished_at AT TIME ZONE 'UTC'),'YYYY-MM-DD') AS day,\n           COUNT(*)::INT AS cnt,\n           ROUND(AVG(score_pct))::INT AS avg_pct\n    FROM app.quizzes\n    WHERE chat_id = {{ Number($json.query.chat_id) }}\n      AND finished_at IS NOT NULL\n      AND finished_at > now() - interval '28 days'\n    GROUP BY 1\n  ) t) AS activity,\n  (SELECT COUNT(*) FILTER (WHERE score_pct = 100)::INT FROM app.quizzes WHERE chat_id = {{ Number($json.query.chat_id) }}) AS perfect_quizzes,\n  (SELECT MAX(score_pct) FROM app.quizzes WHERE chat_id = {{ Number($json.query.chat_id) }} AND finished_at IS NOT NULL) AS best_score\nFROM (SELECT 1) dummy\nLEFT JOIN app.v_user_stats v ON v.chat_id = {{ Number($json.query.chat_id) }};", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-1200, 1200], "id": "9fbd3bcc-417d-44ec-a886-c0123897a9b4", "name": "miniapp: pg load", "credentials": {"postgres": {"id": "hGO5xvaEVuwezYxS", "name": "Postgres account"}}}, {"parameters": {"jsCode": "// Render premium Mini App HTML\nconst row = $input.first().json || {};\nconst materials = row.materials || [];\nconst quizzes = row.quizzes || [];\nconst activity = row.activity || [];\nconst total = row.materials_count || 0;\nconst taken = row.quizzes_taken || 0;\nconst avg = Math.round(row.avg_score_pct || 0);\nconst beg = row.beginner_materials || 0;\nconst inter = row.intermediate_materials || 0;\nconst adv = row.advanced_materials || 0;\nconst perfectQ = row.perfect_quizzes || 0;\nconst bestScore = row.best_score || 0;\nconst lastAt = row.last_quiz_at ? new Date(row.last_quiz_at).toISOString().split('T')[0] : null;\n\nfunction esc(s) {\n  return String(s == null ? '' : s)\n    .replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;')\n    .replace(/\"/g,'&quot;').replace(/'/g,'&#039;');\n}\n\n// Achievements\nconst achievements = [\n  { icon: '🌱', title: 'First spark',     sub: 'Saved your first material', unlocked: total >= 1 },\n  { icon: '📚', title: 'Library starter', sub: '5+ materials saved',         unlocked: total >= 5 },\n  { icon: '🎯', title: 'Initiate',        sub: 'Took your first quiz',       unlocked: taken >= 1 },\n  { icon: '🔥', title: 'On a roll',       sub: 'Took 5+ quizzes',            unlocked: taken >= 5 },\n  { icon: '💎', title: 'Perfectionist',   sub: 'Hit 100% on a quiz',         unlocked: perfectQ >= 1 },\n  { icon: '🏆', title: 'Top form',        sub: 'Personal best ≥ 80%',        unlocked: bestScore >= 80 },\n  { icon: '🦉', title: 'Triple stack',    sub: 'All 3 difficulty levels',    unlocked: beg > 0 && inter > 0 && adv > 0 },\n];\n\nconst badges = achievements.map(a => `\n  <div class=\"badge ${a.unlocked ? 'on' : 'off'}\">\n    <div class=\"badge-icon\">${a.icon}</div>\n    <div class=\"badge-title\">${esc(a.title)}</div>\n    <div class=\"badge-sub\">${esc(a.sub)}</div>\n  </div>`).join('');\n\n// Library rows\nconst matRows = materials.map(m => {\n  const score = m.best_score;\n  const scoreBlock = score != null\n    ? `<div class=\"score-mini\"><div class=\"sm-track\"><div class=\"sm-fill\" style=\"width:${score}%\"></div></div><span class=\"sm-val\">${score}%</span></div>`\n    : `<div class=\"lib-meta dim\">never quizzed</div>`;\n  return `\n    <div class=\"lib-row\">\n      <div class=\"lib-icon ${esc(m.difficulty)}\">${m.difficulty === 'advanced' ? '🔴' : m.difficulty === 'intermediate' ? '🟡' : '🟢'}</div>\n      <div class=\"lib-body\">\n        <div class=\"lib-title\">${esc(m.title)}</div>\n        ${scoreBlock}\n      </div>\n    </div>`;\n}).join('');\n\n// Heatmap: last 28 days\nconst activityMap = {};\nactivity.forEach(a => { activityMap[a.day] = a; });\nconst heatCells = [];\nconst today = new Date();\ntoday.setUTCHours(0,0,0,0);\nfor (let i = 27; i >= 0; i--) {\n  const d = new Date(today);\n  d.setUTCDate(d.getUTCDate() - i);\n  const key = d.toISOString().split('T')[0];\n  const day = activityMap[key];\n  let level = 0;\n  if (day) {\n    if (day.cnt >= 3 || day.avg_pct >= 80) level = 4;\n    else if (day.cnt >= 2 || day.avg_pct >= 60) level = 3;\n    else if (day.avg_pct >= 40) level = 2;\n    else level = 1;\n  }\n  const title = day ? `${key}: ${day.cnt} quiz${day.cnt > 1 ? 'zes' : ''}, ${day.avg_pct}% avg` : key;\n  heatCells.push(`<div class=\"cell l${level}\" title=\"${title}\"></div>`);\n}\n\n// Quiz history items\nconst quizRows = quizzes.slice().reverse().slice(0, 8).map(q => {\n  const cls = q.score_pct >= 80 ? 'good' : q.score_pct >= 60 ? 'mid' : q.score_pct >= 40 ? 'low' : 'bad';\n  return `\n    <div class=\"quiz-row\">\n      <div class=\"quiz-title\">${esc(q.title)}</div>\n      <div class=\"quiz-meta\">${esc(q.finished_at)}</div>\n      <div class=\"score-bar\">\n        <div class=\"sb-track\"><div class=\"sb-fill ${cls}\" data-fill=\"${q.score_pct}\" style=\"width:0%\"></div></div>\n        <span class=\"sb-val\">${q.score_pct}%</span>\n      </div>\n    </div>`;\n}).join('');\n\nconst lastBlock = lastAt ? `Last quiz · ${lastAt}` : 'Take a quiz to see your stats';\n\nconst chartData = {\n  diff: [beg, inter, adv],\n  scores: quizzes.map(q => q.score_pct),\n  labels: quizzes.map((q, i) => `#${i+1}`),\n  titles: quizzes.map(q => q.title),\n};\n\nconst html = `<!doctype html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1,viewport-fit=cover,user-scalable=no\">\n<title>Senior Backend Coach — Dashboard</title>\n<script src=\"https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js\"></script>\n<script src=\"https://telegram.org/js/telegram-web-app.js\"></script>\n<style>\n  :root {\n    --tg-bg: var(--tg-theme-bg-color, #0f1115);\n    --tg-fg: var(--tg-theme-text-color, #ECEFF4);\n    --tg-hint: var(--tg-theme-hint-color, #8a93a0);\n    --tg-button: var(--tg-theme-button-color, #5b8aff);\n    --tg-button-text: var(--tg-theme-button-text-color, #ffffff);\n    --tg-secondary-bg: var(--tg-theme-secondary-bg-color, #1c1f26);\n    --accent: #5b8aff;\n    --accent-2: #b07cff;\n    --accent-3: #ff7eb6;\n    --success: #34c759;\n    --warn: #ffcc00;\n    --danger: #ff453a;\n    --card: rgba(255,255,255,0.04);\n    --card-h: rgba(255,255,255,0.07);\n    --border: rgba(255,255,255,0.08);\n    --border-s: rgba(255,255,255,0.14);\n    --radius: 16px;\n    --radius-sm: 10px;\n  }\n  *, *::before, *::after { box-sizing: border-box; -webkit-tap-highlight-color: transparent; }\n  html, body { margin: 0; padding: 0; }\n  body {\n    background: var(--tg-bg);\n    color: var(--tg-fg);\n    font: 14.5px/1.5 -apple-system, BlinkMacSystemFont, \"Inter\", \"SF Pro Text\", \"Segoe UI\", Roboto, sans-serif;\n    padding-bottom: 80px;\n    overscroll-behavior: contain;\n    letter-spacing: -0.011em;\n    min-height: 100vh;\n  }\n\n  /* HERO */\n  .hero {\n    position: relative;\n    padding: 28px 18px 78px;\n    overflow: hidden;\n    background:\n      radial-gradient(ellipse 80% 60% at 50% -10%, rgba(91,138,255,0.30) 0%, transparent 60%),\n      radial-gradient(ellipse 60% 50% at 110% 20%, rgba(176,124,255,0.20) 0%, transparent 60%),\n      radial-gradient(ellipse 50% 40% at -10% 50%, rgba(255,126,182,0.10) 0%, transparent 60%);\n  }\n  .hero::before, .hero::after {\n    content: '';\n    position: absolute;\n    width: 320px; height: 320px;\n    border-radius: 50%;\n    filter: blur(50px);\n    opacity: 0.6;\n    pointer-events: none;\n  }\n  .hero::before {\n    top: -160px; right: -80px;\n    background: radial-gradient(circle, rgba(91,138,255,0.45) 0%, transparent 70%);\n    animation: floatA 14s ease-in-out infinite;\n  }\n  .hero::after {\n    bottom: -100px; left: -100px;\n    background: radial-gradient(circle, rgba(176,124,255,0.35) 0%, transparent 70%);\n    animation: floatB 18s ease-in-out infinite;\n  }\n  @keyframes floatA { 0%,100% { transform: translate(0,0); } 50% { transform: translate(-40px,30px); } }\n  @keyframes floatB { 0%,100% { transform: translate(0,0); } 50% { transform: translate(50px,-25px); } }\n\n  .hero-head { display: flex; align-items: center; gap: 10px; margin-bottom: 6px; }\n  .hero-emoji {\n    font-size: 32px;\n    filter: drop-shadow(0 6px 18px rgba(91,138,255,0.5));\n    animation: pulse 4s ease-in-out infinite;\n  }\n  @keyframes pulse { 0%,100% { transform: scale(1); } 50% { transform: scale(1.08); } }\n\n  h1 { margin: 0; font-size: 24px; font-weight: 800; letter-spacing: -0.02em; }\n  .sub { color: var(--tg-hint); font-size: 13px; margin-bottom: 24px; }\n\n  .kpis {\n    display: grid; grid-template-columns: repeat(3, 1fr); gap: 8px; position: relative; z-index: 1;\n  }\n  .kpi {\n    background: rgba(255,255,255,0.06);\n    backdrop-filter: blur(20px) saturate(180%);\n    -webkit-backdrop-filter: blur(20px) saturate(180%);\n    border: 1px solid var(--border-s);\n    border-radius: var(--radius);\n    padding: 14px 10px;\n    text-align: center;\n    transition: transform 0.2s, background 0.2s;\n  }\n  .kpi:active { transform: scale(0.97); background: var(--card-h); }\n  .kpi .l {\n    font-size: 10.5px; color: var(--tg-hint);\n    text-transform: uppercase; letter-spacing: 0.05em; font-weight: 600;\n  }\n  .kpi .v {\n    font-size: 28px; font-weight: 800; margin-top: 4px; line-height: 1;\n    background: linear-gradient(135deg, #fff, #b9c5ff);\n    -webkit-background-clip: text; background-clip: text;\n    -webkit-text-fill-color: transparent; color: transparent;\n  }\n  .kpi.amber .v { background: linear-gradient(135deg, #fff, #ffd87a); -webkit-background-clip: text; background-clip: text; }\n  .kpi.green .v { background: linear-gradient(135deg, #fff, #8af0a8); -webkit-background-clip: text; background-clip: text; }\n  .kpi .suffix { font-size: 16px; opacity: 0.5; margin-left: 1px; }\n\n  /* CONTENT */\n  .content { margin-top: -52px; padding: 0 14px; position: relative; z-index: 2; }\n  .card {\n    background: var(--card);\n    backdrop-filter: blur(14px);\n    -webkit-backdrop-filter: blur(14px);\n    border: 1px solid var(--border);\n    border-radius: var(--radius);\n    padding: 14px 16px;\n    margin-bottom: 12px;\n  }\n  .card h2 {\n    margin: 0 0 12px; font-size: 11.5px; color: var(--tg-hint);\n    text-transform: uppercase; letter-spacing: 0.07em; font-weight: 600;\n    display: flex; align-items: center; gap: 8px;\n  }\n  .card h2 .pill {\n    background: var(--card-h); padding: 2px 7px; border-radius: 5px; font-size: 10px;\n    letter-spacing: 0; text-transform: none; color: var(--tg-fg); opacity: 0.6; margin-left: auto;\n  }\n\n  /* ACHIEVEMENTS */\n  .badges { display: flex; gap: 8px; overflow-x: auto; scroll-snap-type: x mandatory; padding-bottom: 4px; margin: 0 -16px; padding-left: 16px; padding-right: 16px; }\n  .badges::-webkit-scrollbar { display: none; }\n  .badge {\n    flex: 0 0 100px; padding: 14px 8px; border-radius: var(--radius-sm); text-align: center;\n    scroll-snap-align: start; position: relative; overflow: hidden;\n  }\n  .badge.on {\n    background: linear-gradient(155deg, rgba(91,138,255,0.22), rgba(176,124,255,0.10));\n    border: 1px solid var(--border-s);\n    box-shadow: 0 4px 14px rgba(91,138,255,0.12);\n  }\n  .badge.off { background: var(--card); border: 1px solid var(--border); opacity: 0.42; }\n  .badge.on::before {\n    content: ''; position: absolute; inset: 0;\n    background: linear-gradient(135deg, rgba(255,255,255,0.10), transparent 60%);\n    pointer-events: none;\n  }\n  .badge-icon { font-size: 26px; line-height: 1; margin-bottom: 4px; filter: drop-shadow(0 2px 6px rgba(0,0,0,0.35)); }\n  .badge-title { font-size: 11px; font-weight: 700; margin-bottom: 2px; }\n  .badge-sub { font-size: 10px; color: var(--tg-hint); line-height: 1.25; }\n\n  /* CHARTS */\n  .charts-grid { display: grid; grid-template-columns: 1fr; gap: 12px; }\n  @media (min-width: 480px) { .charts-grid { grid-template-columns: 1fr 1fr; } }\n  canvas { max-width: 100%; }\n\n  /* HEATMAP */\n  .heatmap { display: grid; grid-template-columns: repeat(28, 1fr); gap: 3px; }\n  .heatmap .cell {\n    aspect-ratio: 1; border-radius: 2.5px; background: rgba(255,255,255,0.04);\n    transition: transform 0.15s, background 0.2s;\n    will-change: transform;\n  }\n  .heatmap .cell.l1 { background: rgba(91,138,255,0.30); }\n  .heatmap .cell.l2 { background: rgba(91,138,255,0.55); }\n  .heatmap .cell.l3 { background: rgba(91,138,255,0.80); }\n  .heatmap .cell.l4 { background: linear-gradient(135deg, #5b8aff, #b07cff); box-shadow: 0 0 8px rgba(91,138,255,0.4); }\n  .heatmap-legend { display: flex; align-items: center; gap: 4px; font-size: 10px; color: var(--tg-hint); margin-top: 8px; }\n  .heatmap-legend .swatch { width: 10px; height: 10px; border-radius: 2px; }\n\n  /* LIBRARY */\n  .lib-row { display: flex; gap: 12px; padding: 12px 0; border-bottom: 1px solid var(--border); align-items: center; }\n  .lib-row:last-child { border-bottom: 0; }\n  .lib-icon {\n    flex: 0 0 38px; height: 38px; border-radius: 10px;\n    display: grid; place-items: center; font-size: 16px;\n    background: var(--card-h);\n  }\n  .lib-icon.beginner { background: rgba(52,199,89,0.15); }\n  .lib-icon.intermediate { background: rgba(255,204,0,0.15); }\n  .lib-icon.advanced { background: rgba(255,69,58,0.15); }\n  .lib-body { flex: 1; min-width: 0; }\n  .lib-title { font-size: 13.5px; font-weight: 500; line-height: 1.35;\n    display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; }\n  .lib-meta { font-size: 11px; color: var(--tg-hint); margin-top: 2px; }\n  .lib-meta.dim { font-style: italic; opacity: 0.7; }\n\n  /* MINI SCORE BAR (library) */\n  .score-mini { display: flex; align-items: center; gap: 8px; margin-top: 5px; }\n  .sm-track { flex: 1; height: 4px; background: var(--card-h); border-radius: 2px; overflow: hidden; }\n  .sm-fill { height: 100%; background: linear-gradient(90deg, var(--accent), var(--accent-2)); border-radius: 2px; }\n  .sm-val { font-size: 11px; font-weight: 600; min-width: 32px; text-align: right; }\n\n  /* QUIZ HISTORY */\n  .quiz-row { padding: 12px 0; border-bottom: 1px solid var(--border); }\n  .quiz-row:last-child { border-bottom: 0; }\n  .quiz-title { font-size: 13.5px; font-weight: 500; line-height: 1.3; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }\n  .quiz-meta { font-size: 11px; color: var(--tg-hint); margin-top: 1px; margin-bottom: 6px; }\n  .score-bar { display: flex; align-items: center; gap: 10px; }\n  .sb-track { flex: 1; height: 6px; background: var(--card-h); border-radius: 3px; overflow: hidden; }\n  .sb-fill { height: 100%; border-radius: 3px; transition: width 1.2s cubic-bezier(0.22, 1, 0.36, 1); }\n  .sb-fill.good { background: linear-gradient(90deg, #34c759, #5cd97e); }\n  .sb-fill.mid  { background: linear-gradient(90deg, #ffcc00, #ffd87a); }\n  .sb-fill.low  { background: linear-gradient(90deg, #ff9500, #ffbb55); }\n  .sb-fill.bad  { background: linear-gradient(90deg, #ff453a, #ff7e74); }\n  .sb-val { font-size: 12px; font-weight: 700; min-width: 40px; text-align: right; }\n\n  .empty { text-align: center; color: var(--tg-hint); padding: 24px 0; font-style: italic; font-size: 13px; }\n\n  /* Animations on mount */\n  .reveal { opacity: 0; transform: translateY(8px); animation: reveal 0.5s cubic-bezier(0.22, 1, 0.36, 1) forwards; }\n  @keyframes reveal { to { opacity: 1; transform: none; } }\n  .reveal-1 { animation-delay: 0.05s; }\n  .reveal-2 { animation-delay: 0.10s; }\n  .reveal-3 { animation-delay: 0.15s; }\n  .reveal-4 { animation-delay: 0.20s; }\n  .reveal-5 { animation-delay: 0.25s; }\n  .reveal-6 { animation-delay: 0.30s; }\n</style>\n</head>\n<body>\n  <header class=\"hero\">\n    <div class=\"hero-head\">\n      <div class=\"hero-emoji\">📊</div>\n      <h1>Your dashboard</h1>\n    </div>\n    <div class=\"sub\">Senior backend prep · ${esc(lastBlock)}</div>\n    <div class=\"kpis\">\n      <div class=\"kpi reveal reveal-1\"><div class=\"l\">Materials</div><div class=\"v\" data-count=\"${total}\">0</div></div>\n      <div class=\"kpi amber reveal reveal-2\"><div class=\"l\">Quizzes</div><div class=\"v\" data-count=\"${taken}\">0</div></div>\n      <div class=\"kpi green reveal reveal-3\"><div class=\"l\">Avg score</div><div class=\"v\"><span data-count=\"${avg}\">0</span><span class=\"suffix\">%</span></div></div>\n    </div>\n  </header>\n\n  <main class=\"content\">\n\n    <div class=\"card reveal reveal-2\">\n      <h2>Achievements <span class=\"pill\">${achievements.filter(a => a.unlocked).length}/${achievements.length}</span></h2>\n      <div class=\"badges\">${badges}</div>\n    </div>\n\n    <div class=\"charts-grid\">\n      <div class=\"card reveal reveal-3\">\n        <h2>Difficulty mix</h2>\n        <canvas id=\"diffChart\" height=\"180\"></canvas>\n      </div>\n      <div class=\"card reveal reveal-4\">\n        <h2>Score trend</h2>\n        <canvas id=\"trendChart\" height=\"180\"></canvas>\n      </div>\n    </div>\n\n    <div class=\"card reveal reveal-4\">\n      <h2>Activity <span class=\"pill\">last 28 days</span></h2>\n      <div class=\"heatmap\" id=\"heatmap\">${heatCells.join('')}</div>\n      <div class=\"heatmap-legend\">\n        Less\n        <div class=\"swatch\" style=\"background:rgba(255,255,255,0.04)\"></div>\n        <div class=\"swatch\" style=\"background:rgba(91,138,255,0.30)\"></div>\n        <div class=\"swatch\" style=\"background:rgba(91,138,255,0.55)\"></div>\n        <div class=\"swatch\" style=\"background:rgba(91,138,255,0.80)\"></div>\n        <div class=\"swatch\" style=\"background:linear-gradient(135deg,#5b8aff,#b07cff)\"></div>\n        More\n      </div>\n    </div>\n\n    <div class=\"card reveal reveal-5\">\n      <h2>Library <span class=\"pill\">${materials.length}</span></h2>\n      ${materials.length ? matRows : '<div class=\"empty\">Send <code>/learn [URL]</code> in chat to add your first material.</div>'}\n    </div>\n\n    <div class=\"card reveal reveal-6\">\n      <h2>Recent quizzes</h2>\n      ${quizzes.length ? quizRows : '<div class=\"empty\">No quizzes yet. Tap <code>/quiz</code> in chat to start.</div>'}\n    </div>\n\n  </main>\n\n<script>\n  const tg = window.Telegram?.WebApp;\n  if (tg) {\n    tg.ready();\n    tg.expand();\n    try { tg.setHeaderColor?.('secondary_bg_color'); } catch(e) {}\n    try { tg.setBackgroundColor?.(getComputedStyle(document.documentElement).getPropertyValue('--tg-bg').trim()); } catch(e) {}\n    tg.MainButton.setText('📚 Back to chat').show();\n    tg.MainButton.onClick(() => { tg.HapticFeedback?.impactOccurred('medium'); tg.close(); });\n  }\n\n  // Count-up animations\n  const elements = document.querySelectorAll('[data-count]');\n  elements.forEach(el => {\n    const target = +el.dataset.count;\n    if (target === 0) { el.textContent = '0'; return; }\n    let cur = 0;\n    const start = performance.now();\n    const dur = 900;\n    const ease = (t) => 1 - Math.pow(1 - t, 3);\n    const tick = (now) => {\n      const t = Math.min(1, (now - start) / dur);\n      cur = Math.round(target * ease(t));\n      el.textContent = cur;\n      if (t < 1) requestAnimationFrame(tick);\n    };\n    requestAnimationFrame(tick);\n  });\n\n  // Animate score bars after mount\n  requestAnimationFrame(() => {\n    document.querySelectorAll('.sb-fill[data-fill]').forEach(el => {\n      el.style.width = el.dataset.fill + '%';\n    });\n  });\n\n  // Chart.js defaults\n  const fg = getComputedStyle(document.documentElement).getPropertyValue('--tg-fg').trim();\n  const hint = getComputedStyle(document.documentElement).getPropertyValue('--tg-hint').trim();\n  Chart.defaults.color = fg;\n  Chart.defaults.borderColor = 'rgba(255,255,255,0.08)';\n  Chart.defaults.font.family = '-apple-system, BlinkMacSystemFont, Inter, SF Pro Text, Segoe UI, sans-serif';\n  Chart.defaults.font.size = 11;\n\n  const D = ${JSON.stringify(chartData)};\n\n  // Doughnut: difficulty mix\n  if (D.diff.some(v => v > 0)) {\n    new Chart(document.getElementById('diffChart'), {\n      type: 'doughnut',\n      data: {\n        labels: ['Beginner','Intermediate','Advanced'],\n        datasets: [{\n          data: D.diff,\n          backgroundColor: ['#34c759','#ffcc00','#ff453a'],\n          borderWidth: 0,\n          hoverOffset: 6\n        }]\n      },\n      options: {\n        responsive: true, maintainAspectRatio: true,\n        cutout: '62%',\n        animation: { animateRotate: true, animateScale: true, duration: 1000 },\n        plugins: {\n          legend: { position: 'bottom', labels: { boxWidth: 10, boxHeight: 10, padding: 12, font: { size: 11, weight: '500' } } },\n          tooltip: { backgroundColor: 'rgba(0,0,0,0.85)', padding: 10, cornerRadius: 8 }\n        }\n      }\n    });\n  } else {\n    const c = document.getElementById('diffChart').parentElement;\n    c.querySelector('canvas').remove();\n    c.insertAdjacentHTML('beforeend', '<div class=\"empty\">No materials yet.</div>');\n  }\n\n  // Line: score trend\n  if (D.scores.length) {\n    const ctx = document.getElementById('trendChart').getContext('2d');\n    const grad = ctx.createLinearGradient(0, 0, 0, 180);\n    grad.addColorStop(0, 'rgba(91,138,255,0.40)');\n    grad.addColorStop(1, 'rgba(91,138,255,0)');\n    new Chart(ctx, {\n      type: 'line',\n      data: {\n        labels: D.labels,\n        datasets: [{\n          data: D.scores,\n          borderColor: '#5b8aff',\n          backgroundColor: grad,\n          tension: 0.4,\n          fill: true,\n          pointRadius: 4,\n          pointHoverRadius: 6,\n          pointBackgroundColor: '#5b8aff',\n          pointBorderColor: '#fff',\n          pointBorderWidth: 2,\n          borderWidth: 3\n        }]\n      },\n      options: {\n        responsive: true, maintainAspectRatio: true,\n        animation: { duration: 1100, easing: 'easeOutCubic' },\n        plugins: {\n          legend: { display: false },\n          tooltip: {\n            backgroundColor: 'rgba(0,0,0,0.85)', padding: 10, cornerRadius: 8,\n            callbacks: { title: (ctx) => D.titles[ctx[0].dataIndex] || '' }\n          }\n        },\n        scales: {\n          y: { min: 0, max: 100, ticks: { callback: v => v + '%', font: { size: 10 } }, grid: { color: 'rgba(255,255,255,0.05)' } },\n          x: { ticks: { font: { size: 10 } }, grid: { display: false } }\n        }\n      }\n    });\n  } else {\n    const c = document.getElementById('trendChart').parentElement;\n    c.querySelector('canvas').remove();\n    c.insertAdjacentHTML('beforeend', '<div class=\"empty\">No quizzes yet.</div>');\n  }\n\n  // Haptic feedback on KPI tap\n  document.querySelectorAll('.kpi').forEach(el => {\n    el.addEventListener('click', () => tg?.HapticFeedback?.impactOccurred?.('light'));\n  });\n</script>\n</body>\n</html>`;\n\nreturn [{ json: { html } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-1000, 1200], "id": "60e63e6f-59c8-4283-8ee3-30da28aa99d2", "name": "miniapp: render HTML"}, {"parameters": {"respondWith": "text", "responseBody": "={{ $json.html }}", "options": {"responseHeaders": {"entries": [{"name": "Content-Type", "value": "text/html; charset=utf-8"}, {"name": "Cache-Control", "value": "no-store"}]}}}, "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [-800, 1200], "id": "16ad376d-6860-454c-bb70-619a0aef1fa6", "name": "miniapp: respond HTML"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2}, "conditions": [{"id": "c-inline-q", "leftValue": "={{ $json.inline_query }}", "rightValue": "", "operator": {"type": "object", "operation": "exists", "singleValue": true}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-200, 1600], "id": "59e5bfb0-294d-4841-82af-13a56f0c35fd", "name": "fallback: is inline_query?"}, {"parameters": {"operation": "executeQuery", "query": "SELECT id, title, difficulty,\n       LEFT(COALESCE((summary_json->>'key_points')::text, ''), 120) AS preview\nFROM app.learning_materials\nWHERE chat_id = {{ $json.inline_query.from.id }}\n  AND title ILIKE '%{{ ($json.inline_query.query || '').replace(/'/g, \"''\").replace(/%/g, '').replace(/[\\\\]/g,'') }}%'\nORDER BY added_at DESC\nLIMIT 20;", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [0, 1600], "id": "ebdafa35-b7c9-4454-b67e-0d75b64e0fe4", "name": "inline: pg search", "credentials": {"postgres": {"id": "hGO5xvaEVuwezYxS", "name": "Postgres account"}}}, {"parameters": {"jsCode": "// Build answerInlineQuery payload\nconst rows = $input.all().map(i => i.json);\nconst inlineQueryId = $('Telegram Trigger1').item.json.inline_query.id;\n\nconst diffEmoji = { beginner: '\\u{1F7E2}', intermediate: '\\u{1F7E1}', advanced: '\\u{1F534}' };\n\nconst results = rows.length ? rows.slice(0, 20).map(r => {\n  const emoji = diffEmoji[r.difficulty] || '⚪️';\n  return {\n    type: 'article',\n    id: String(r.id),\n    title: r.title || 'Untitled',\n    description: `${emoji} ${r.difficulty}`,\n    input_message_content: {\n      message_text: `\\u{1F4DA} *${(r.title || 'Material').replace(/([_*\\`\\[\\]])/g, '\\\\$1')}*\\n\\nTake a quiz to test your recall.`,\n      parse_mode: 'Markdown'\n    },\n    reply_markup: {\n      inline_keyboard: [[\n        { text: '\\u{1F3AF} Start quiz', callback_data: `pick:${r.id}` }\n      ]]\n    }\n  };\n}) : [{\n  type: 'article',\n  id: 'none',\n  title: 'No materials match',\n  description: 'Use /learn [URL] in chat to add some',\n  input_message_content: {\n    message_text: '\\u{1F4DA} No saved materials match this query. Send `/learn [URL]` to the bot to add one.',\n    parse_mode: 'Markdown'\n  }\n}];\n\nconst body_json = JSON.stringify({\n  inline_query_id: inlineQueryId,\n  results,\n  cache_time: 5,\n  is_personal: true\n});\n\nreturn [{ json: { body_json } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [200, 1600], "id": "c0c2e57b-a05c-4660-b629-59adb429ffd5", "name": "inline: format results"}, {"parameters": {"method": "POST", "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/answerInlineQuery", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json.body_json }}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [400, 1600], "id": "46e40a7e-7156-4ba3-94e8-cc9ec6e5a141", "name": "inline: answer"}, {"parameters": {"method": "POST", "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $('ans: format results').item.json.body_breakdown }}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [88, -144], "id": "a70df306-e0cc-490b-ae6d-8acd27c1d699", "name": "ans: send breakdown"}, {"parameters": {"amount": 3.5, "unit": "seconds"}, "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [-12, -144], "id": "02ebdc8d-8334-4d4c-b648-85e3727f24a0", "name": "ans: wait for effect", "webhookId": "3a27489f-6df1-494e-bac4-19ac2fa94c74"}, {"parameters": {"jsCode": "// Build /lang picker keyboard\nconst chatId = $('Telegram Trigger1').item.json.message.chat.id;\nconst tgLang = $('Telegram Trigger1').item.json.message.from?.language_code || 'en';\nconst ruDefault = tgLang.startsWith('ru');\n\nconst text = ruDefault\n  ? '🌐 Выбери язык бота:\\n\\nThis sets the language of bot replies, quiz questions, and summaries.'\n  : '🌐 Choose bot language:\\n\\nЭто переключает язык ответов бота, квизов и summary.';\n\nconst body_json = JSON.stringify({\n  chat_id: chatId,\n  text,\n  reply_markup: {\n    inline_keyboard: [[\n      { text: '🇬🇧 English', callback_data: 'lang:en' },\n      { text: '🇷🇺 Русский', callback_data: 'lang:ru' }\n    ]]\n  }\n});\n\nreturn [{ json: { chat_id: chatId, body_json } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-200, 200], "id": "ec0e7b8c-5910-42eb-96f3-60e88f6830de", "name": "/lang: build picker"}, {"parameters": {"method": "POST", "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json.body_json }}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [0, 200], "id": "e7cd3734-92a7-4325-9134-9e3eee4be510", "name": "/lang: send picker"}, {"parameters": {"jsCode": "// Parse callback_data 'lang:en' or 'lang:ru'\nconst cq = $('Telegram Trigger1').item.json.callback_query;\nconst data = cq?.data || '';\nconst lang = data.split(':')[1];\n\nif (!['en', 'ru'].includes(lang)) {\n  throw new Error('Invalid lang: ' + lang);\n}\n\nreturn [{\n  json: {\n    chat_id: cq.from.id,\n    callback_query_id: cq.id,\n    lang,\n    message_id: cq.message?.message_id\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-200, 400], "id": "22b54148-22bd-4b26-8d5a-a6cb47c71d42", "name": "lang_cb: parse"}, {"parameters": {"operation": "executeQuery", "query": "INSERT INTO app.user_state (chat_id, lang)\nVALUES ({{ $json.chat_id }}, '{{ $json.lang }}')\nON CONFLICT (chat_id) DO UPDATE SET lang = EXCLUDED.lang\nRETURNING chat_id, lang;", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [0, 400], "id": "26362f40-c647-4b60-b132-78043c326df0", "name": "lang_cb: pg upsert", "credentials": {"postgres": {"id": "hGO5xvaEVuwezYxS", "name": "Postgres account"}}}, {"parameters": {"jsCode": "// Build confirm reply + answerCallbackQuery\nconst row = $input.first().json;\nconst chatId = $('lang_cb: parse').item.json.chat_id;\nconst callbackQueryId = $('lang_cb: parse').item.json.callback_query_id;\nconst lang = row.lang;\n\nconst text = lang === 'ru'\n  ? '✅ Язык установлен: *Русский*\\n\\nТеперь бот будет отвечать на русском, генерировать summary и квизы тоже по-русски. Можно переключить обратно через /lang.'\n  : '✅ Language set: *English*\\n\\nBot replies, summaries, and quizzes will now be in English. Use /lang to switch back.';\n\nconst alertText = lang === 'ru' ? 'Русский ✅' : 'English ✅';\n\nconst send_body = JSON.stringify({ chat_id: chatId, text, parse_mode: 'Markdown' });\nconst ack_body = JSON.stringify({ callback_query_id: callbackQueryId, text: alertText });\n\nreturn [{ json: { send_body, ack_body, chat_id: chatId } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [200, 400], "id": "778e5588-cd05-4f0f-90f5-560c14364bab", "name": "lang_cb: build confirm"}, {"parameters": {"method": "POST", "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json.send_body }}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [400, 400], "id": "68526ffc-cf74-43e1-b6a1-0de933ce0eee", "name": "lang_cb: send confirm"}, {"parameters": {"method": "POST", "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/answerCallbackQuery", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $('lang_cb: build confirm').item.json.ack_body }}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [600, 400], "id": "b089ef7a-4ef9-468e-9acd-3e7e65554b11", "name": "lang_cb: ack"}, {"parameters": {"operation": "executeQuery", "query": "SELECT COALESCE(\n  (SELECT lang FROM app.user_state WHERE chat_id = {{ Number(\n    $('Telegram Trigger1').item.json.message?.chat?.id\n    ?? $('Telegram Trigger1').item.json.callback_query?.from?.id\n    ?? $('Telegram Trigger1').item.json.poll_answer?.user?.id\n    ?? $('Telegram Trigger1').item.json.inline_query?.from?.id\n    ?? 0\n  ) }}),\n  'en'\n) AS lang;", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-700, -300], "id": "f16d5e0b-0e44-4fab-8386-14fe6de29ac7", "name": "lang: pg load /learn", "credentials": {"postgres": {"id": "hGO5xvaEVuwezYxS", "name": "Postgres account"}}}, {"parameters": {"operation": "executeQuery", "query": "SELECT COALESCE(\n  (SELECT lang FROM app.user_state WHERE chat_id = {{ Number(\n    $('Telegram Trigger1').item.json.message?.chat?.id\n    ?? $('Telegram Trigger1').item.json.callback_query?.from?.id\n    ?? $('Telegram Trigger1').item.json.poll_answer?.user?.id\n    ?? $('Telegram Trigger1').item.json.inline_query?.from?.id\n    ?? 0\n  ) }}),\n  'en'\n) AS lang;", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-700, 100], "id": "a5159ac0-5ab0-4029-84e2-4f48605f88bf", "name": "lang: pg load /stats", "credentials": {"postgres": {"id": "hGO5xvaEVuwezYxS", "name": "Postgres account"}}}, {"parameters": {"operation": "executeQuery", "query": "SELECT COALESCE(\n  (SELECT lang FROM app.user_state WHERE chat_id = {{ Number(\n    $('Telegram Trigger1').item.json.message?.chat?.id\n    ?? $('Telegram Trigger1').item.json.callback_query?.from?.id\n    ?? $('Telegram Trigger1').item.json.poll_answer?.user?.id\n    ?? $('Telegram Trigger1').item.json.inline_query?.from?.id\n    ?? 0\n  ) }}),\n  'en'\n) AS lang;", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-720, -300], "id": "417d3216-cfc3-4230-b348-923ff64e7a10", "name": "lang: pg load /ans", "credentials": {"postgres": {"id": "hGO5xvaEVuwezYxS", "name": "Postgres account"}}}, {"parameters": {"operation": "executeQuery", "query": "SELECT COALESCE(\n  (SELECT lang FROM app.user_state WHERE chat_id = {{ Number(\n    $('Telegram Trigger1').item.json.message?.chat?.id\n    ?? $('Telegram Trigger1').item.json.callback_query?.from?.id\n    ?? $('Telegram Trigger1').item.json.poll_answer?.user?.id\n    ?? $('Telegram Trigger1').item.json.inline_query?.from?.id\n    ?? 0\n  ) }}),\n  'en'\n) AS lang;", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-700, 500], "id": "559e2543-facd-4cf9-b710-2c8fada08d04", "name": "lang: pg load pick", "credentials": {"postgres": {"id": "hGO5xvaEVuwezYxS", "name": "Postgres account"}}}, {"parameters": {"operation": "executeQuery", "query": "SELECT COALESCE(\n  (SELECT lang FROM app.user_state WHERE chat_id = {{ Number(\n    $('Telegram Trigger1').item.json.message?.chat?.id\n    ?? $('Telegram Trigger1').item.json.callback_query?.from?.id\n    ?? $('Telegram Trigger1').item.json.poll_answer?.user?.id\n    ?? $('Telegram Trigger1').item.json.inline_query?.from?.id\n    ?? 0\n  ) }}),\n  'en'\n) AS lang;", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-700, 300], "id": "564f1c3f-5739-467e-a652-3e0a9165ea99", "name": "lang: pg load /quiz", "credentials": {"postgres": {"id": "hGO5xvaEVuwezYxS", "name": "Postgres account"}}}, {"parameters": {"jsCode": "// Build localized /learn ack text\nconst tgLang = $('Telegram Trigger1').item.json.message?.from?.language_code || 'en';\nconst ru = tgLang.startsWith('ru');\nconst chatId = $('Telegram Trigger1').item.json.message.chat.id;\n\nconst text = ru\n  ? '🔍 Читаю статью и прогоняю через Claude Opus 4.7 для саммари — обычно 1–3 минуты, можно отойти заварить чай ☕'\n  : '🔍 Reading the article and distilling it with Claude Opus 4.7 — usually 1–3 minutes, grab a coffee ☕';\n\nconst body_json = JSON.stringify({ chat_id: chatId, text });\nreturn [{ json: { chat_id: chatId, body_json } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-500, -400], "id": "0f168b80-2b58-4f65-ad27-dccae24f9718", "name": "/learn: build ack text"}, {"parameters": {"jsCode": "// Build localized pick ack text — uses stored /lang preference\nconst lang = $('lang: pg load pick').item.json.lang || 'en';\nconst chatId = $('pick: pg load material').item.json.chat_id;\nconst title = $('pick: pg load material').item.json.title || '';\n\nconst text = lang === 'ru'\n  ? `🎯 Генерирую 5 senior-level вопросов по теме \"${title}\" через Claude Haiku 4.5 — обычно 30 секунд – 2 минуты.\\n\\nКак только готово — пришлю первый вопрос как Telegram-опрос.`\n  : `🎯 Generating 5 senior-level questions on \"${title}\" with Claude Haiku 4.5 — usually 30 seconds – 2 minutes.\\n\\nFirst question will arrive as a Telegram poll.`;\n\nconst body_json = JSON.stringify({ chat_id: chatId, text });\nreturn [{ json: { chat_id: chatId, body_json } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-400, 700], "id": "9dcad0ea-52f3-40ad-8a4c-e54d366705c7", "name": "pick: build ack text"}, {"parameters": {"method": "POST", "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json.body_json }}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-200, 700], "id": "c6ef05a3-cf52-4b81-98c8-2dc011771b15", "name": "pick: send ack"}, {"parameters": {"method": "POST", "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json.body_json }}", "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-1512, -1648], "id": "151ddcdf-4b4b-4362-9c9d-39e4cbd6f59c", "name": "/start: send"}, {"parameters": {"httpMethod": "POST", "path": "pool-refill", "responseMode": "responseNode", "options": {}}, "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-1400, 1600], "id": "fd96636e-0d86-4ecc-8e89-73d84869140c", "name": "pool: webhook /pool-refill", "webhookId": "e20f6b87-4598-4ef2-8a64-4cbb6afc91f7"}, {"parameters": {"respondWith": "text", "responseBody": "OK", "options": {"responseHeaders": {"entries": [{"name": "Content-Type", "value": "text/plain"}]}}}, "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [-1200, 1600], "id": "8ad70209-6b42-4137-aad4-c5794f81ddde", "name": "pool: respond OK"}, {"parameters": {"operation": "executeQuery", "query": "SELECT COUNT(*)::INT AS pool_count\nFROM app.quiz_pool\nWHERE material_id = {{ Number($('pool: webhook /pool-refill').item.json.body.material_id) }}\n  AND lang = '{{ ($('pool: webhook /pool-refill').item.json.body.lang || 'en').replace(/[^a-z]/g,'') }}';", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-1000, 1600], "id": "13e48a93-efca-4578-b795-ee5f18cd8bbb", "name": "pool: pg count", "credentials": {"postgres": {"id": "hGO5xvaEVuwezYxS", "name": "Postgres account"}}}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2}, "conditions": [{"id": "c-pool-needs-fill", "leftValue": "={{ $json.pool_count }}", "rightValue": 3, "operator": {"type": "number", "operation": "lt"}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-800, 1600], "id": "2d293441-4863-4e3c-b344-91084969c771", "name": "pool: needs fill?"}, {"parameters": {"operation": "executeQuery", "query": "SELECT m.id AS material_id, m.title, m.content, m.summary_json, m.difficulty\nFROM app.learning_materials m\nWHERE m.id = {{ Number($('pool: webhook /pool-refill').item.json.body.material_id) }};", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-600, 1500], "id": "b195e8bc-3b08-40a1-967c-57c5fc41d3cf", "name": "pool: pg load material", "credentials": {"postgres": {"id": "hGO5xvaEVuwezYxS", "name": "Postgres account"}}}, {"parameters": {"operation": "executeQuery", "query": "SELECT COALESCE(string_agg(stem, E'\\n'), '') AS prior_stems\nFROM (\n  SELECT jsonb_array_elements(questions->'questions')->>'question' AS stem\n  FROM app.quiz_pool\n  WHERE material_id = {{ Number($('pool: webhook /pool-refill').item.json.body.material_id) }}\n    AND lang = '{{ ($('pool: webhook /pool-refill').item.json.body.lang || 'en').replace(/[^a-z]/g,'') }}'\n  ORDER BY generated_at DESC LIMIT 20\n) t;", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-400, 1500], "id": "5f3dff12-e2af-4255-a3f2-8c5977327054", "name": "pool: pg load prior stems", "credentials": {"postgres": {"id": "hGO5xvaEVuwezYxS", "name": "Postgres account"}}}, {"parameters": {"jsCode": "// Build Anthropic Examiner request body for pool quiz generation\nconst mat = $('pool: pg load material').item.json;\nconst lang = ($('pool: webhook /pool-refill').item.json.body.lang || 'en').replace(/[^a-z]/g,'') || 'en';\nconst priorStems = $('pool: pg load prior stems').item.json.prior_stems || '';\nconst priorCount = priorStems ? priorStems.split('\\n').length : 0;\n\nconst langDirective = lang === 'ru'\n  ? '\\n\\nAll output strings (question, options A/B/C/D, explanation) must be in Russian. Answer letters stay A/B/C/D.'\n  : '';\n\nconst uniqueDirective = priorStems\n  ? `\\n\\nUNIQUENESS REQUIREMENT (CRITICAL): ${priorCount} prior questions already exist for this material:\n\n---\n${priorStems}\n---\n\nYour 5 NEW questions MUST satisfy ALL of these rules:\n1. Test DIFFERENT concepts/angles than the prior questions above.\n2. NOT a paraphrase or restatement of any prior question (even with synonyms).\n3. Cover material observations the prior questions missed (look for unexplored sub-topics).\n4. Use DIFFERENT framing/scenarios (vary team sizes, deployment contexts, scaling tiers, failure modes).\n5. Probe DIFFERENT sections of the material content (not the same paragraph that prior questions covered).\n\nIf after careful review you genuinely cannot find 5 truly new angles (material is small or already deeply covered), you may overlap on AT MOST 1 question — but mark that question's explanation with \"(rephrased)\" so the operator sees it.\n\nSelf-check before output: read each of your 5 generated questions and compare against the prior list above. If you spot a near-duplicate, REPLACE it with a fresher angle.`\n  : '';\n\nlet systemPrompt = \"You are the Examiner in an AI-powered learning assistant for senior backend engineers preparing for staff-tier interviews. Given a material title, summary, and full content, generate EXACTLY 5 multiple-choice questions that probe whether the reader internalized the material at senior interview level.\\n\\nSTYLE non-negotiable:\\n1. NO trivia. No year/acronym recall.\\n2. PROBE understanding: apply concept to scenario, compare approaches, identify failure mode, spot what breaks if assumption changes.\\n3. INTERVIEW FRAMING: phrase as interviewer would speak it.\\n4. PLAUSIBLE DISTRACTORS: wrong options represent real misconceptions.\\n5. ONE CORRECT ANSWER each (single best answer).\\n6. EXPLANATIONS MUST TEACH why right is right AND why distractors are wrong.\\n7. NO HARDCODING.\\n\\nOutput JSON with EXACTLY this schema:\\n{\\n  \\\"questions\\\": [\\n    { \\\"id\\\": \\\"Q1\\\", \\\"question\\\": \\\"<=280 chars\\\", \\\"options\\\": { \\\"A\\\": \\\"<=120\\\", \\\"B\\\": \\\"<=120\\\", \\\"C\\\": \\\"<=120\\\", \\\"D\\\": \\\"<=120\\\" }, \\\"correctAnswer\\\": \\\"A\\\"|\\\"B\\\"|\\\"C\\\"|\\\"D\\\", \\\"explanation\\\": \\\"<2-4 sentences>\\\" }, ...Q2-Q5\\n  ]\\n}\\n\\nExactly 5 questions, IDs Q1-Q5, 4 options A-D each, correctAnswer single A-D letter. Distribute correct answers across A/B/C/D.\\n\\nOutput ONLY the JSON. No fences, no commentary.\";\n\nsystemPrompt += langDirective;\nsystemPrompt += uniqueDirective;\n\nconst summary = mat.summary_json || {};\nconst keyPoints = Array.isArray(summary.key_points) ? summary.key_points.join('\\n') : '';\nconst concepts = Array.isArray(summary.main_concepts) ? summary.main_concepts.join(', ') : '';\nconst userContent = 'TITLE: ' + (mat.title || '') + '\\nDIFFICULTY: ' + (mat.difficulty || '') + '\\n\\nKEY POINTS:\\n' + keyPoints + '\\n\\nCONCEPTS: ' + concepts + '\\n\\nFULL CONTENT:\\n' + (mat.content || '');\n\nconst examiner_body = JSON.stringify({\n  model: 'claude-sonnet-4-5',\n  max_tokens: 3500,\n  temperature: 0.9,\n  system: systemPrompt,\n  messages: [{ role: 'user', content: userContent }]\n});\n\nreturn [{ json: { ...mat, lang, examiner_body, generation_model: 'claude-sonnet-4-5', prior_count: priorCount } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-200, 1500], "id": "86711353-955a-4ae2-a447-725eafbf04d2", "name": "pool: build examiner body"}, {"parameters": {"method": "POST", "url": "https://api.anthropic.com/v1/messages", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "anthropic-version", "value": "2023-06-01"}, {"name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}"}, {"name": "content-type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json.examiner_body }}", "options": {"timeout": 90000}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [0, 1500], "id": "027ce384-4e94-47f8-9032-f2e369ca5ff1", "name": "pool: Examiner (Sonnet)"}, {"parameters": {"jsCode": "const mat = $('pool: build examiner body').item.json;\nconst response = $input.first().json;\nconst rawText = response?.content?.[0]?.text || '';\n\nlet parsed;\ntry {\n  const cleaned = rawText.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (err) {\n  throw new Error('Pool Examiner returned unparseable JSON: ' + rawText.slice(0, 300));\n}\n\nif (!Array.isArray(parsed?.questions) || parsed.questions.length !== 5) {\n  throw new Error('Pool Examiner did not return exactly 5 questions');\n}\n\n// Fisher-Yates shuffle on option letter mapping to randomize correct answer slot\nconst letters = ['A','B','C','D'];\nconst shuffled = parsed.questions.map((q, qi) => {\n  const origOpts = q.options || {};\n  const optEntries = letters.map(L => ({ letter: L, text: origOpts[L] || '' }));\n  // shuffle\n  for (let i = optEntries.length - 1; i > 0; i--) {\n    const j = Math.floor(Math.random() * (i + 1));\n    [optEntries[i], optEntries[j]] = [optEntries[j], optEntries[i]];\n  }\n  // rebuild options keyed by new letter; remember which slot was correct\n  const newOpts = {};\n  let newCorrect = null;\n  optEntries.forEach((e, i) => {\n    const newLetter = letters[i];\n    newOpts[newLetter] = e.text;\n    if (e.letter === q.correctAnswer) newCorrect = newLetter;\n  });\n  return { ...q, options: newOpts, correctAnswer: newCorrect || q.correctAnswer };\n});\n\nreturn [{ json: { ...mat, questions: { questions: shuffled }, generation_model: mat.generation_model } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [200, 1500], "id": "3f411685-58b2-4383-9f7b-8c047ec82f1a", "name": "pool: parse Examiner JSON"}, {"parameters": {"operation": "executeQuery", "query": "INSERT INTO app.quiz_pool (material_id, lang, questions, generation_model)\nVALUES (\n  {{ $json.material_id }},\n  '{{ $json.lang.replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify($json.questions).replace(/'/g, \"''\") }}'::jsonb,\n  '{{ ($json.generation_model || 'unknown').replace(/'/g, \"''\") }}'\n)\nRETURNING id, material_id, lang;", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [400, 1500], "id": "28c97f5a-c3d6-445f-8692-ccadbcdc037a", "name": "pool: pg INSERT pool entry", "credentials": {"postgres": {"id": "hGO5xvaEVuwezYxS", "name": "Postgres account"}}}, {"parameters": {"method": "POST", "url": "=https://seniorprepcoach.ngrok.dev/webhook/pool-refill", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ material_id: $('pool: pg load material').item.json.material_id, lang: $('pool: webhook /pool-refill').item.json.body.lang || 'en' }) }}", "options": {"timeout": 5000, "redirect": {"redirect": {}}}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [600, 1500], "id": "ad65375d-86e7-4088-8d87-df85c8675412", "name": "pool: self-fire next"}, {"parameters": {"operation": "executeQuery", "query": "DELETE FROM app.quiz_pool\nWHERE id = (\n  SELECT id FROM app.quiz_pool\n  WHERE material_id = {{ $('pick: pg load material').item.json.material_id }}\n    AND lang = '{{ ($('lang: pg load pick').item.json.lang || 'en').replace(/'/g, \"''\") }}'\n  ORDER BY generated_at ASC\n  LIMIT 1\n  FOR UPDATE SKIP LOCKED\n)\nRETURNING id AS pool_id, material_id, lang, questions;", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [-400, 800], "id": "3e5e3c4d-7a48-459a-8ebe-515dacbe89ee", "name": "pick: pg claim from pool", "credentials": {"postgres": {"id": "hGO5xvaEVuwezYxS", "name": "Postgres account"}}, "alwaysOutputData": true}, {"parameters": {"jsCode": "const rows = $input.all();\nif (rows.length > 0 && rows[0].json.pool_id) {\n  const r = rows[0].json;\n  return [{ json: {\n    claimed: true,\n    pool_id: r.pool_id,\n    material_id: r.material_id,\n    lang: r.lang,\n    questions: r.questions,\n    chat_id: $('pick: pg load material').item.json.chat_id\n  } }];\n}\nreturn [{ json: { claimed: false, chat_id: $('pick: pg load material').item.json.chat_id, material_id: $('pick: pg load material').item.json.material_id } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-200, 800], "id": "ef12062e-4448-4590-adc4-414dca75efc3", "name": "pick: normalize claim"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2}, "conditions": [{"id": "c-claimed", "leftValue": "={{ $json.claimed }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true", "singleValue": true}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [0, 800], "id": "46adcd11-747b-47cd-a143-6a6d373e1771", "name": "pick: claimed?"}, {"parameters": {"operation": "executeQuery", "query": "INSERT INTO app.quizzes (material_id, chat_id, questions, started_at)\nVALUES (\n  {{ $json.material_id }},\n  {{ $json.chat_id }},\n  '{{ JSON.stringify($json.questions).replace(/'/g, \"''\") }}'::jsonb,\n  now()\n)\nRETURNING id, material_id, chat_id, questions;", "options": {}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [200, 700], "id": "e9579270-5c08-4c10-ae71-441f349d0400", "name": "pick: pg INSERT quiz from pool", "credentials": {"postgres": {"id": "hGO5xvaEVuwezYxS", "name": "Postgres account"}}}, {"parameters": {"method": "POST", "url": "=https://seniorprepcoach.ngrok.dev/webhook/pool-refill", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ material_id: $('pick: pg load material').item.json.material_id, lang: $('lang: pg load pick').item.json.lang || 'en' }) }}", "options": {"timeout": 5000}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2200, 700], "id": "0f05dcfa-d305-464c-b2a1-b4f7e21b9020", "name": "pick: trigger pool refill"}, {"parameters": {"method": "POST", "url": "=https://seniorprepcoach.ngrok.dev/webhook/pool-refill", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ material_id: $json.id, lang: $('lang: pg load /learn').item.json.lang || 'en' }) }}", "options": {"timeout": 5000}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1300, -500], "id": "91dab6d9-183f-4862-887c-155ddee7b5d0", "name": "/learn: trigger initial pool fill"}, {"parameters": {"jsCode": "// Compute Jaccard-bigram similarity of each new question vs prior stems.\n// Log warnings if any new question is too similar to any prior. Does NOT block\n// insertion — Sonnet 4.5 + temperature 0.9 + strong directive usually keeps\n// similarity below threshold; logging gives ops visibility.\n\nfunction bigrams(s) {\n  const norm = String(s || '').toLowerCase().replace(/[^a-zа-яё0-9 ]/gi, ' ').replace(/\\s+/g, ' ').trim();\n  const bgs = new Set();\n  for (let i = 0; i < norm.length - 1; i++) {\n    bgs.add(norm.slice(i, i + 2));\n  }\n  return bgs;\n}\n\nfunction jaccard(a, b) {\n  if (!a.size || !b.size) return 0;\n  let inter = 0;\n  for (const x of a) if (b.has(x)) inter++;\n  return inter / (a.size + b.size - inter);\n}\n\nconst item = $input.first().json;\nconst newQs = item.questions?.questions || [];\nconst priorStems = ($('pool: pg load prior stems').item.json.prior_stems || '').split('\\n').filter(s => s.trim());\n\nconst SIMILARITY_THRESHOLD = 0.55;\nconst warnings = [];\n\nconst priorBigrams = priorStems.map(s => ({ stem: s, bgs: bigrams(s) }));\n\nfor (const q of newQs) {\n  const newBgs = bigrams(q.question);\n  let maxSim = 0;\n  let maxStem = '';\n  for (const p of priorBigrams) {\n    const sim = jaccard(newBgs, p.bgs);\n    if (sim > maxSim) {\n      maxSim = sim;\n      maxStem = p.stem;\n    }\n  }\n  if (maxSim > SIMILARITY_THRESHOLD) {\n    warnings.push(`${q.id}: similarity=${maxSim.toFixed(2)} vs \"${maxStem.slice(0, 60)}...\"`);\n  }\n}\n\nif (warnings.length) {\n  console.log(`[pool similarity warn] material=${item.material_id} lang=${item.lang} prior=${priorStems.length}: ${warnings.length} of 5 questions exceed ${SIMILARITY_THRESHOLD} threshold`);\n  for (const w of warnings) console.log('  ' + w);\n}\n\nreturn [{ json: { ...item, similarity_warnings: warnings.length } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [300, 1500], "id": "2cd575e8-3176-4169-99c1-6de58747d791", "name": "pool: similarity check"}], "connections" : {"Route": {"main": [[{"node": "/start: build text", "type": "main", "index": 0}], [{"node": "/learn: parse URL", "type": "main", "index": 0}], [{"node": "/quiz: pg SELECT materials", "type": "main", "index": 0}], [{"node": "/stats: pg load", "type": "main", "index": 0}], [{"node": "pick: pg load material", "type": "main", "index": 0}], [{"node": "ans: parse callback", "type": "main", "index": 0}], [{"node": "/lang: build picker", "type": "main", "index": 0}], [{"node": "lang_cb: parse", "type": "main", "index": 0}], [{"node": "fallback: is poll_answer?", "type": "main", "index": 0}]]}, "/learn: parse URL": {"main": [[{"node": "/learn: URL valid?", "type": "main", "index": 0}]]}, "/learn: URL valid?": {"main": [[{"node": "/learn: build ack text", "type": "main", "index": 0}, {"node": "/learn: jina fetch", "type": "main", "index": 0}, {"node": "learn: react thinking", "type": "main", "index": 0}], [{"node": "/learn: reply invalid", "type": "main", "index": 0}]]}, "/learn: jina fetch": {"main": [[{"node": "lang: pg load /learn", "type": "main", "index": 0}]]}, "/learn: extract title+body": {"main": [[{"node": "/learn: Teacher (Opus)", "type": "main", "index": 0}]]}, "/learn: Teacher (Opus)": {"main": [[{"node": "/learn: parse Teacher JSON", "type": "main", "index": 0}]]}, "/learn: parse Teacher JSON": {"main": [[{"node": "/learn: pg INSERT material", "type": "main", "index": 0}]]}, "/learn: pg INSERT material": {"main": [[{"node": "/learn: format summary", "type": "main", "index": 0}, {"node": "/learn: trigger initial pool fill", "type": "main", "index": 0}]]}, "/learn: format summary": {"main": [[{"node": "/learn: send summary", "type": "main", "index": 0}]]}, "/quiz: pg SELECT materials": {"main": [[{"node": "/quiz: build topic keyboard", "type": "main", "index": 0}]]}, "/quiz: build topic keyboard": {"main": [[{"node": "/quiz: send topics", "type": "main", "index": 0}]]}, "pick: pg load material": {"main": [[{"node": "lang: pg load pick", "type": "main", "index": 0}]]}, "pick: Examiner (Haiku)": {"main": [[{"node": "pick: parse Examiner JSON", "type": "main", "index": 0}]]}, "pick: parse Examiner JSON": {"main": [[{"node": "pick: pg INSERT quiz", "type": "main", "index": 0}]]}, "pick: pg INSERT quiz": {"main": [[{"node": "pick: build poll body", "type": "main", "index": 0}]]}, "pick: format Q1": {"main": [[{"node": "pick: send Q1", "type": "main", "index": 0}]]}, "ans: parse callback": {"main": [[{"node": "ans: pg load quiz", "type": "main", "index": 0}]]}, "ans: pg load quiz": {"main": [[{"node": "ans: validate", "type": "main", "index": 0}]]}, "ans: validate": {"main": [[{"node": "ans: pg INSERT answer", "type": "main", "index": 0}]]}, "ans: pg INSERT answer": {"main": [[{"node": "ans: is last Q?", "type": "main", "index": 0}]]}, "ans: is last Q?": {"main": [[{"node": "ans: pg finalize quiz", "type": "main", "index": 0}], [{"node": "ans: format next Q", "type": "main", "index": 0}]]}, "ans: pg finalize quiz": {"main": [[{"node": "ans: pg load all answers", "type": "main", "index": 0}]]}, "ans: pg load all answers": {"main": [[{"node": "lang: pg load /ans", "type": "main", "index": 0}]]}, "ans: format results": {"main": [[{"node": "ans: send headline", "type": "main", "index": 0}]]}, "ans: format next Q": {"main": [[{"node": "ans: send next Q", "type": "main", "index": 0}]]}, "/stats: pg load": {"main": [[{"node": "lang: pg load /stats", "type": "main", "index": 0}]]}, "/stats: format": {"main": [[{"node": "/stats: send", "type": "main", "index": 0}]]}, "Telegram Trigger1": {"main": [[{"node": "Route", "type": "main", "index": 0}]]}, "pick: build examiner body": {"main": [[{"node": "pick: Examiner (Haiku)", "type": "main", "index": 0}]]}, "pick: build poll body": {"main": [[{"node": "pick: send poll", "type": "main", "index": 0}]]}, "pick: send poll": {"main": [[{"node": "pick: capture poll_id", "type": "main", "index": 0}]]}, "pick: capture poll_id": {"main": [[{"node": "pick: pg INSERT quiz_polls", "type": "main", "index": 0}]]}, "poll_ans: parse": {"main": [[{"node": "poll_ans: pg load", "type": "main", "index": 0}]]}, "poll_ans: pg load": {"main": [[{"node": "poll_ans: validate", "type": "main", "index": 0}]]}, "poll_ans: validate": {"main": [[{"node": "poll_ans: pg INSERT answer", "type": "main", "index": 0}]]}, "poll_ans: pg INSERT answer": {"main": [[{"node": "poll_ans: is last Q?", "type": "main", "index": 0}]]}, "poll_ans: is last Q?": {"main": [[{"node": "ans: pg finalize quiz", "type": "main", "index": 0}], [{"node": "poll_ans: build next poll body", "type": "main", "index": 0}]]}, "poll_ans: build next poll body": {"main": [[{"node": "pick: send poll", "type": "main", "index": 0}]]}, "fallback: is poll_answer?": {"main": [[{"node": "poll_ans: parse", "type": "main", "index": 0}], [{"node": "fallback: is inline_query?", "type": "main", "index": 0}]]}, "/learn: send summary": {"main": [[{"node": "learn: react graduated", "type": "main", "index": 0}]]}, "miniapp: webhook /dashboard": {"main": [[{"node": "miniapp: pg load", "type": "main", "index": 0}]]}, "miniapp: pg load": {"main": [[{"node": "miniapp: render HTML", "type": "main", "index": 0}]]}, "miniapp: render HTML": {"main": [[{"node": "miniapp: respond HTML", "type": "main", "index": 0}]]}, "fallback: is inline_query?": {"main": [[{"node": "inline: pg search", "type": "main", "index": 0}], [{"node": "other: reply", "type": "main", "index": 0}]]}, "inline: pg search": {"main": [[{"node": "inline: format results", "type": "main", "index": 0}]]}, "inline: format results": {"main": [[{"node": "inline: answer", "type": "main", "index": 0}]]}, "ans: send headline": {"main": [[{"node": "ans: wait for effect", "type": "main", "index": 0}]]}, "ans: wait for effect": {"main": [[{"node": "ans: send breakdown", "type": "main", "index": 0}]]}, "/lang: build picker": {"main": [[{"node": "/lang: send picker", "type": "main", "index": 0}]]}, "lang_cb: parse": {"main": [[{"node": "lang_cb: pg upsert", "type": "main", "index": 0}]]}, "lang_cb: pg upsert": {"main": [[{"node": "lang_cb: build confirm", "type": "main", "index": 0}]]}, "lang_cb: build confirm": {"main": [[{"node": "lang_cb: send confirm", "type": "main", "index": 0}]]}, "lang_cb: send confirm": {"main": [[{"node": "lang_cb: ack", "type": "main", "index": 0}]]}, "lang: pg load /learn": {"main": [[{"node": "/learn: extract title+body", "type": "main", "index": 0}]]}, "lang: pg load /stats": {"main": [[{"node": "/stats: format", "type": "main", "index": 0}]]}, "lang: pg load pick": {"main": [[{"node": "pick: pg claim from pool", "type": "main", "index": 0}]]}, "lang: pg load /ans": {"main": [[{"node": "ans: format results", "type": "main", "index": 0}]]}, "/learn: build ack text": {"main": [[{"node": "/learn: send ack (loading)", "type": "main", "index": 0}]]}, "pick: build ack text": {"main": [[{"node": "pick: send ack", "type": "main", "index": 0}]]}, "/start: build text": {"main": [[{"node": "/start: send", "type": "main", "index": 0}]]}, "pick: send ack": {"main": [[{"node": "pick: build examiner body", "type": "main", "index": 0}]]}, "pool: webhook /pool-refill": {"main": [[{"node": "pool: respond OK", "type": "main", "index": 0}]]}, "pool: respond OK": {"main": [[{"node": "pool: pg count", "type": "main", "index": 0}]]}, "pool: pg count": {"main": [[{"node": "pool: needs fill?", "type": "main", "index": 0}]]}, "pool: needs fill?": {"main": [[{"node": "pool: pg load material", "type": "main", "index": 0}], []]}, "pool: pg load material": {"main": [[{"node": "pool: pg load prior stems", "type": "main", "index": 0}]]}, "pool: pg load prior stems": {"main": [[{"node": "pool: build examiner body", "type": "main", "index": 0}]]}, "pool: build examiner body": {"main": [[{"node": "pool: Examiner (Sonnet)", "type": "main", "index": 0}]]}, "pool: Examiner (Sonnet)": {"main": [[{"node": "pool: parse Examiner JSON", "type": "main", "index": 0}]]}, "pool: parse Examiner JSON": {"main": [[{"node": "pool: similarity check", "type": "main", "index": 0}]]}, "pool: pg INSERT pool entry": {"main": [[{"node": "pool: self-fire next", "type": "main", "index": 0}]]}, "pick: pg claim from pool": {"main": [[{"node": "pick: normalize claim", "type": "main", "index": 0}]]}, "pick: normalize claim": {"main": [[{"node": "pick: claimed?", "type": "main", "index": 0}]]}, "pick: claimed?": {"main": [[{"node": "pick: pg INSERT quiz from pool", "type": "main", "index": 0}], [{"node": "pick: build ack text", "type": "main", "index": 0}]]}, "pick: pg INSERT quiz from pool": {"main": [[{"node": "pick: build poll body", "type": "main", "index": 0}]]}, "pick: pg INSERT quiz_polls": {"main": [[{"node": "pick: trigger pool refill", "type": "main", "index": 0}]]}, "pool: similarity check": {"main": [[{"node": "pool: pg INSERT pool entry", "type": "main", "index": 0}]]}}, "active" : true, "settings" : {"executionOrder":"v1","binaryMode":"separate"}}
