task-3/workflow.json
{
  "name": "Senior Interview Coach — Task 3",
  "nodes": [
    {
      "parameters": {
        "updates": ["message", "callback_query"],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [-1200, 0],
      "id": "node-trigger",
      "name": "Telegram Trigger",
      "webhookId": "task3-telegram-trigger",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_TG_CRED_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
                "conditions": [
                  { "id": "c-start", "leftValue": "={{ $json.message?.text || '' }}", "rightValue": "/start", "operator": { "type": "string", "operation": "startsWith" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/start"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
                "conditions": [
                  { "id": "c-learn", "leftValue": "={{ $json.message?.text || '' }}", "rightValue": "/learn", "operator": { "type": "string", "operation": "startsWith" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/learn"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
                "conditions": [
                  { "id": "c-quiz", "leftValue": "={{ $json.message?.text || '' }}", "rightValue": "/quiz", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/quiz"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
                "conditions": [
                  { "id": "c-stats", "leftValue": "={{ $json.message?.text || '' }}", "rightValue": "/stats", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/stats"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
                "conditions": [
                  { "id": "c-pick", "leftValue": "={{ $json.callback_query?.data || '' }}", "rightValue": "pick:", "operator": { "type": "string", "operation": "startsWith" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "callback:pick"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
                "conditions": [
                  { "id": "c-ans", "leftValue": "={{ $json.callback_query?.data || '' }}", "rightValue": "ans:", "operator": { "type": "string", "operation": "startsWith" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "callback:ans"
            }
          ]
        },
        "options": { "fallbackOutput": "extra", "renameFallbackOutput": "other" }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [-1000, 0],
      "id": "node-route",
      "name": "Route"
    },

    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "👋 *Welcome to Senior Interview Coach!*\n\nI'm an AI-powered learning bot for senior backend interview prep — built on n8n + Claude (Opus 4.7 Teacher, Haiku 4.5 Examiner).\n\n*What I can do:*\n\n📚 `/learn <url>` — submit any article / docs / blog post URL → I'll extract the content and produce a structured summary (5-7 key points + main concepts + difficulty) calibrated to the senior backend bar.\n\n🎯 `/quiz` — pick from your saved materials → I'll generate 5 interview-style multiple-choice questions specific to that material, with intelligent answer validation and explanations.\n\n📊 `/stats` — see your learning dashboard (materials, quizzes taken, average score, weak topics).\n\n*Try me right now:*\n`/learn https://martinfowler.com/articles/microservices.html`",
        "additionalFields": { "parse_mode": "Markdown", "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-700, -600],
      "id": "node-reply-start",
      "name": "Reply /start",
      "credentials": { "telegramApi": { "id": "REPLACE_TG_CRED_ID", "name": "Telegram account" } }
    },

    {
      "parameters": {
        "jsCode": "// /learn — parse URL from message text\nconst text = $input.first().json.message?.text || '';\nconst chatId = $input.first().json.message?.chat?.id;\n\n// Match anything after /learn that looks like an URL.\nconst match = text.match(/^\\/learn\\s+(https?:\\/\\/\\S+)/i);\nif (!match) {\n  return [{ json: { chat_id: chatId, valid: false, error: 'Please send a URL after /learn.\\n\\nExample:\\n`/learn https://martinfowler.com/articles/microservices.html`' } }];\n}\n\nconst url = match[1].replace(/[)\\].,;]+$/, ''); // strip trailing punctuation\nreturn [{ json: { chat_id: chatId, valid: true, url } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-700, -200],
      "id": "node-learn-parse",
      "name": "/learn: parse URL"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "conditions": [
            { "id": "c-valid", "leftValue": "={{ $json.valid }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-500, -200],
      "id": "node-learn-isvalid",
      "name": "/learn: URL valid?"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.error }}",
        "additionalFields": { "parse_mode": "Markdown", "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-300, -100],
      "id": "node-learn-replyinvalid",
      "name": "/learn: reply invalid",
      "credentials": { "telegramApi": { "id": "REPLACE_TG_CRED_ID", "name": "Telegram account" } }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://r.jina.ai/{{ $json.url }}",
        "options": {
          "response": { "response": { "responseFormat": "text" } },
          "timeout": 25000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-300, -300],
      "id": "node-learn-jina",
      "name": "/learn: jina fetch"
    },
    {
      "parameters": {
        "jsCode": "// Extract title + clean body from jina response\nconst raw = $input.first().json.data || $input.first().json.body || '';\nconst chatId = $('/learn: parse URL').item.json.chat_id;\nconst url = $('/learn: parse URL').item.json.url;\n\nconst titleMatch = raw.match(/^Title:\\s*(.+?)$/m);\nconst title = (titleMatch ? titleMatch[1] : 'Untitled').trim().slice(0, 200);\n\n// Strip jina header block, keep markdown body\nconst markerIdx = raw.indexOf('Markdown Content:');\nlet content = markerIdx >= 0 ? raw.slice(markerIdx + 'Markdown Content:'.length).trim() : raw;\ncontent = content.replace(/!\\[.*?\\]\\(.*?\\)/g, '').replace(/\\s+/g, ' ').trim();\nif (content.length > 14000) content = content.slice(0, 14000) + '...';\n\nif (content.length < 200) {\n  // Extraction failed — graceful fallback\n  return [{ json: { chat_id: chatId, url, title, content: '', extraction_failed: true } }];\n}\n\nreturn [{ json: { chat_id: chatId, url, title, content, extraction_failed: false } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-100, -300],
      "id": "node-learn-extract",
      "name": "/learn: extract title+body"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-opus-4-7\",\n  \"max_tokens\": 2000,\n  \"system\": \"You are the Teacher in an AI-powered learning assistant. Your audience is a senior backend engineer preparing for staff-tier interviews (specialties: .NET, distributed systems, database internals, system design, software architecture). You read web articles, docs, blog posts, papers, tutorials, then produce a tight structured summary that helps this engineer absorb the material quickly and remember the parts that matter at interview time.\\n\\nYou are NOT writing for a casual reader. Assume the reader knows the basics; surface the parts that distinguish senior understanding: tradeoffs, failure modes, when-to-use, hidden costs, second-order effects, contrast with alternatives.\\n\\nOutput a JSON object with EXACTLY this schema (no extra keys, no prose outside JSON):\\n\\n{\\n  \\\"title\\\": \\\"<short title, <=90 chars>\\\",\\n  \\\"key_points\\\": [\\\"<5 to 7 sentences, each <=140 chars>\\\"],\\n  \\\"main_concepts\\\": [\\\"<3 to 5 labels, 1-4 words each>\\\"],\\n  \\\"difficulty\\\": \\\"beginner\\\" | \\\"intermediate\\\" | \\\"advanced\\\",\\n  \\\"interview_angle\\\": \\\"<one sentence on what a senior interview would probe about this content>\\\"\\n}\\n\\nCalibrate difficulty against a SENIOR backend engineer's bar: beginner = below the bar, intermediate = at the bar (canonical senior content), advanced = above the bar (staff/principal/research-edge).\\n\\nOutput ONLY the JSON. No markdown fences, no commentary.\",\n  \"messages\": [\n    { \"role\": \"user\", \"content\": \"TITLE_HINT: {{ $json.title }}\\nURL: {{ $json.url }}\\n\\nCONTENT:\\n{{ $json.content }}\" }\n  ]\n}",
        "options": { "timeout": 90000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [100, -300],
      "id": "node-learn-teacher",
      "name": "/learn: Teacher (Opus)"
    },
    {
      "parameters": {
        "jsCode": "// Parse Teacher JSON response + prep for Postgres insert\nconst chatId = $('/learn: extract title+body').item.json.chat_id;\nconst url = $('/learn: extract title+body').item.json.url;\nconst content = $('/learn: extract title+body').item.json.content;\nconst titleHint = $('/learn: extract title+body').item.json.title;\n\nconst response = $input.first().json;\nconst rawText = response?.content?.[0]?.text || '';\n\nlet parsed;\ntry {\n  // Tolerate fenced output just in case\n  const cleaned = rawText.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (err) {\n  throw new Error('Teacher returned unparseable JSON: ' + rawText.slice(0, 300));\n}\n\n// Validate + clamp\nconst keyPoints = Array.isArray(parsed.key_points) ? parsed.key_points.slice(0, 7) : [];\nif (keyPoints.length < 5) {\n  while (keyPoints.length < 5) keyPoints.push('(see source for additional detail)');\n}\nconst concepts = Array.isArray(parsed.main_concepts) ? parsed.main_concepts.slice(0, 5) : [];\nconst difficulty = ['beginner', 'intermediate', 'advanced'].includes(parsed.difficulty) ? parsed.difficulty : 'intermediate';\nconst title = (parsed.title || titleHint || 'Untitled').slice(0, 200);\nconst interviewAngle = parsed.interview_angle || '';\n\nconst summaryJson = { key_points: keyPoints, main_concepts: concepts, difficulty, interview_angle: interviewAngle };\n\nreturn [{ json: { chat_id: chatId, url, title, content, difficulty, summary_json: summaryJson } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, -300],
      "id": "node-learn-parseteacher",
      "name": "/learn: parse Teacher JSON"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO app.learning_materials (chat_id, url, title, content, summary_json, difficulty)\nVALUES ($1, $2, $3, $4, $5::jsonb, $6)\nON CONFLICT (chat_id, url) DO UPDATE SET\n  title = EXCLUDED.title,\n  content = EXCLUDED.content,\n  summary_json = EXCLUDED.summary_json,\n  difficulty = EXCLUDED.difficulty,\n  added_at = now()\nRETURNING id, chat_id, url, title, summary_json, difficulty;",
        "options": {
          "queryReplacement": "={{ $json.chat_id }}, {{ JSON.stringify($json.url) }}, {{ JSON.stringify($json.title) }}, {{ JSON.stringify($json.content) }}, {{ JSON.stringify(JSON.stringify($json.summary_json)) }}, {{ JSON.stringify($json.difficulty) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [500, -300],
      "id": "node-learn-pginsert",
      "name": "/learn: pg INSERT material",
      "credentials": { "postgres": { "id": "REPLACE_PG_CRED_ID", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "jsCode": "// Build the Telegram summary message — Markdown (parse_mode=Markdown, not V2 for simplicity)\n// Inline 'Take quiz now' button that triggers callback pick:<material_id>\nconst row = $input.first().json;\nconst materialId = row.id;\nconst chatId = row.chat_id;\nconst title = row.title || 'Untitled';\nconst summary = row.summary_json;\n\nconst diffEmoji = { beginner: '🟢', intermediate: '🟡', advanced: '🔴' }[summary.difficulty] || '⚪️';\n\nconst keyPointsBlock = summary.key_points.map((p, i) => `${i + 1}. ${p}`).join('\\n');\nconst conceptsBlock = summary.main_concepts.map((c) => `\\`${c}\\``).join(' · ');\nconst interviewBlock = summary.interview_angle ? `\\n💡 *Interview angle:* _${summary.interview_angle}_` : '';\n\nconst text = `📚 *${title}*\\n${diffEmoji} _${summary.difficulty}_\\n\\n*Key points:*\\n${keyPointsBlock}\\n\\n*Concepts:* ${conceptsBlock}${interviewBlock}\\n\\nTap below to test yourself with 5 interview-style questions.`;\n\nconst reply_markup = {\n  inline_keyboard: [\n    [{ text: '🎯 Take quiz now', callback_data: `pick:${materialId}` }]\n  ]\n};\n\nreturn [{ json: { chat_id: chatId, text, reply_markup } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, -300],
      "id": "node-learn-format",
      "name": "/learn: format summary"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false,
          "reply_markup": "={{ JSON.stringify($json.reply_markup) }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, -300],
      "id": "node-learn-send",
      "name": "/learn: send summary",
      "credentials": { "telegramApi": { "id": "REPLACE_TG_CRED_ID", "name": "Telegram account" } }
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, difficulty FROM app.learning_materials WHERE chat_id = $1 ORDER BY added_at DESC LIMIT 20;",
        "options": { "queryReplacement": "={{ $json.message.chat.id }}" }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-700, 200],
      "id": "node-quiz-select",
      "name": "/quiz: pg SELECT materials",
      "credentials": { "postgres": { "id": "REPLACE_PG_CRED_ID", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "jsCode": "// Build topic-select inline keyboard from saved materials\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\nconst rows = $input.all().map(i => i.json);\n\nif (!rows || rows.length === 0) {\n  return [{ json: {\n    chat_id: chatId,\n    text: '📭 *No saved materials yet.*\\n\\nSend `/learn <url>` first — once you have at least one summarized article, `/quiz` will offer you a topic to test yourself on.',\n    reply_markup: null,\n  } }];\n}\n\nconst diffEmoji = { beginner: '🟢', intermediate: '🟡', advanced: '🔴' };\n// Telegram inline keyboards: 1 button per row, max ~25 rows\nconst inline_keyboard = rows.map((r) => [{\n  text: `${diffEmoji[r.difficulty] || '⚪️'} ${(r.title || 'Untitled').slice(0, 60)}`,\n  callback_data: `pick:${r.id}`\n}]);\n\nreturn [{ json: {\n  chat_id: chatId,\n  text: `📚 *Pick a topic to quiz on:*\\n\\nYou have ${rows.length} saved material${rows.length === 1 ? '' : 's'}.`,\n  reply_markup: { inline_keyboard }\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-500, 200],
      "id": "node-quiz-format",
      "name": "/quiz: build topic keyboard"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false,
          "reply_markup": "={{ $json.reply_markup ? JSON.stringify($json.reply_markup) : '' }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-300, 200],
      "id": "node-quiz-send",
      "name": "/quiz: send topics",
      "credentials": { "telegramApi": { "id": "REPLACE_TG_CRED_ID", "name": "Telegram account" } }
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT m.id AS material_id, m.chat_id, m.title, m.content, m.summary_json, m.difficulty\nFROM app.learning_materials m\nWHERE m.id = $1;",
        "options": { "queryReplacement": "={{ Number(($json.callback_query.data || '').split(':')[1]) }}" }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-700, 600],
      "id": "node-pick-loadmat",
      "name": "pick: pg load material",
      "credentials": { "postgres": { "id": "REPLACE_PG_CRED_ID", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 3500,\n  \"system\": \"You are the Examiner in an AI-powered learning assistant for senior backend engineers preparing for staff-tier interviews. Given a learning material's title, summary, and full content, you generate EXACTLY 5 multiple-choice questions that probe whether the reader actually internalized the material at the level expected of a senior engineer in an interview setting.\\n\\nNON-NEGOTIABLE STYLE:\\n1. NO trivia. No 'what year was X released' or acronym recall.\\n2. PROBE understanding: apply a concept to a scenario, compare two approaches, identify a failure mode / hidden cost, spot what would break if one assumption changed.\\n3. INTERVIEW FRAMING: phrase questions like an interviewer would speak them ('You are designing X. The team proposes Y. What is the strongest argument against Y?').\\n4. PLAUSIBLE DISTRACTORS: wrong options must represent real misconceptions, not filler.\\n5. ONE CORRECT ANSWER per question (single best answer).\\n6. EXPLANATIONS MUST TEACH why the right answer is right AND why the wrong ones are wrong.\\n7. NO HARDCODING — questions specific to the material.\\n\\nOutput JSON object with EXACTLY this schema:\\n{\\n  \\\"questions\\\": [\\n    { \\\"id\\\": \\\"Q1\\\", \\\"question\\\": \\\"<<=280 chars>\\\", \\\"options\\\": { \\\"A\\\": \\\"<<=120 chars>\\\", \\\"B\\\": \\\"<<=120>\\\", \\\"C\\\": \\\"<<=120>\\\", \\\"D\\\": \\\"<<=120>\\\" }, \\\"correctAnswer\\\": \\\"A\\\"|\\\"B\\\"|\\\"C\\\"|\\\"D\\\", \\\"explanation\\\": \\\"<2-4 sentences>\\\" },\\n    { \\\"id\\\": \\\"Q2\\\", ... }, { \\\"id\\\": \\\"Q3\\\", ... }, { \\\"id\\\": \\\"Q4\\\", ... }, { \\\"id\\\": \\\"Q5\\\", ... }\\n  ]\\n}\\n\\nExactly 5 questions, IDs Q1-Q5, exactly 4 options A-D each, correctAnswer single letter A-D. Distribute correct answers across A/B/C/D — do not concentrate on one letter.\\n\\nOutput ONLY the JSON. No fences, no commentary.\",\n  \"messages\": [\n    { \"role\": \"user\", \"content\": \"TITLE: {{ $json.title }}\\nDIFFICULTY: {{ $json.difficulty }}\\n\\nSUMMARY KEY POINTS:\\n{{ ($json.summary_json.key_points || []).join('\\\\n') }}\\n\\nMAIN CONCEPTS: {{ ($json.summary_json.main_concepts || []).join(', ') }}\\n\\nFULL CONTENT:\\n{{ $json.content }}\" }\n  ]\n}",
        "options": { "timeout": 90000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-500, 600],
      "id": "node-pick-examiner",
      "name": "pick: Examiner (Haiku)"
    },
    {
      "parameters": {
        "jsCode": "// Parse Examiner JSON + prep for quiz insert\nconst mat = $('pick: pg load material').item.json;\nconst response = $input.first().json;\nconst rawText = response?.content?.[0]?.text || '';\n\nlet parsed;\ntry {\n  const cleaned = rawText.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (err) {\n  throw new Error('Examiner returned unparseable JSON: ' + rawText.slice(0, 300));\n}\n\nif (!Array.isArray(parsed.questions) || parsed.questions.length !== 5) {\n  throw new Error('Examiner did not return 5 questions, got: ' + (parsed.questions || []).length);\n}\n\n// Validate each question\nfor (let i = 0; i < 5; i++) {\n  const q = parsed.questions[i];\n  if (!q.id) q.id = `Q${i + 1}`;\n  if (!q.options || !q.options.A || !q.options.B || !q.options.C || !q.options.D) {\n    throw new Error(`Q${i + 1} missing options A-D`);\n  }\n  q.correctAnswer = String(q.correctAnswer || '').toUpperCase();\n  if (!['A', 'B', 'C', 'D'].includes(q.correctAnswer)) {\n    throw new Error(`Q${i + 1} has invalid correctAnswer: ${q.correctAnswer}`);\n  }\n  q.explanation = q.explanation || '';\n}\n\nreturn [{ json: { material_id: mat.material_id, chat_id: mat.chat_id, questions: parsed.questions } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-300, 600],
      "id": "node-pick-parseexam",
      "name": "pick: parse Examiner JSON"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO app.quizzes (material_id, chat_id, questions, started_at)\nVALUES ($1, $2, $3::jsonb, now())\nRETURNING id, material_id, chat_id, questions;",
        "options": {
          "queryReplacement": "={{ $json.material_id }}, {{ $json.chat_id }}, {{ JSON.stringify(JSON.stringify({ questions: $json.questions })) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-100, 600],
      "id": "node-pick-pginsert",
      "name": "pick: pg INSERT quiz",
      "credentials": { "postgres": { "id": "REPLACE_PG_CRED_ID", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "jsCode": "// Format Q1 of newly-created quiz + 4 inline buttons\nconst row = $input.first().json;\nconst quizId = row.id;\nconst chatId = row.chat_id;\nconst questions = (row.questions && row.questions.questions) || row.questions;\nconst q = questions[0];\n\nconst text = `🎯 *Question 1 of 5*\\n\\n${q.question}\\n\\n*A)* ${q.options.A}\\n*B)* ${q.options.B}\\n*C)* ${q.options.C}\\n*D)* ${q.options.D}`;\n\nconst reply_markup = {\n  inline_keyboard: [\n    [\n      { text: 'A', callback_data: `ans:${quizId}:${q.id}:A` },\n      { text: 'B', callback_data: `ans:${quizId}:${q.id}:B` },\n    ],\n    [\n      { text: 'C', callback_data: `ans:${quizId}:${q.id}:C` },\n      { text: 'D', callback_data: `ans:${quizId}:${q.id}:D` },\n    ],\n  ]\n};\n\nreturn [{ json: { chat_id: chatId, text, reply_markup } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [100, 600],
      "id": "node-pick-formatq1",
      "name": "pick: format Q1"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false,
          "reply_markup": "={{ JSON.stringify($json.reply_markup) }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [300, 600],
      "id": "node-pick-sendq1",
      "name": "pick: send Q1",
      "credentials": { "telegramApi": { "id": "REPLACE_TG_CRED_ID", "name": "Telegram account" } }
    },

    {
      "parameters": {
        "jsCode": "// Parse answer callback: ans:<quiz_id>:Qn:X\nconst cb = $input.first().json.callback_query;\nconst data = cb.data || '';\nconst parts = data.split(':');\nif (parts.length !== 4 || parts[0] !== 'ans') {\n  throw new Error('Malformed answer callback: ' + data);\n}\nconst quizId = parseInt(parts[1], 10);\nconst questionId = parts[2];\nconst userAnswer = parts[3].toUpperCase();\nconst chatId = cb.message.chat.id;\nconst messageId = cb.message.message_id;\n\nreturn [{ json: { quiz_id: quizId, question_id: questionId, user_answer: userAnswer, chat_id: chatId, message_id: messageId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-700, 1000],
      "id": "node-ans-parse",
      "name": "ans: parse callback"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, material_id, chat_id, questions, started_at, finished_at FROM app.quizzes WHERE id = $1;",
        "options": { "queryReplacement": "={{ $json.quiz_id }}" }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-500, 1000],
      "id": "node-ans-loadquiz",
      "name": "ans: pg load quiz",
      "credentials": { "postgres": { "id": "REPLACE_PG_CRED_ID", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "jsCode": "// Validate answer, build next-state payload (next Q or final results)\nconst quizRow = $input.first().json;\nconst { quiz_id, question_id, user_answer, chat_id } = $('ans: parse callback').item.json;\n\nconst rawQuestions = quizRow.questions;\nconst questions = (rawQuestions && rawQuestions.questions) || rawQuestions;\nconst qIdx = questions.findIndex(q => q.id === question_id);\nif (qIdx < 0) throw new Error('Question ' + question_id + ' not in quiz ' + quiz_id);\n\nconst q = questions[qIdx];\nconst correctAnswer = String(q.correctAnswer).toUpperCase();\nconst correct = user_answer === correctAnswer;\nconst isLast = qIdx === questions.length - 1;\nconst nextIdx = qIdx + 1;\n\n// Build payload for downstream INSERT into quiz_answers\nconst payload = {\n  quiz_id,\n  question_id,\n  user_answer,\n  correct_answer: correctAnswer,\n  correct,\n  is_last: isLast,\n  chat_id,\n  current_q_idx: qIdx,\n  next_q_idx: nextIdx,\n  questions, // pass forward for downstream formatting\n  user_option_text: q.options[user_answer] || '',\n  correct_option_text: q.options[correctAnswer] || '',\n  explanation: q.explanation || '',\n};\n\nreturn [{ json: payload }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-300, 1000],
      "id": "node-ans-validate",
      "name": "ans: validate"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO app.quiz_answers (quiz_id, question_id, user_answer, correct)\nVALUES ($1, $2, $3, $4)\nON CONFLICT (quiz_id, question_id) DO NOTHING\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ $json.quiz_id }}, {{ JSON.stringify($json.question_id) }}, {{ JSON.stringify($json.user_answer) }}, {{ $json.correct }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-100, 1000],
      "id": "node-ans-insert",
      "name": "ans: pg INSERT answer",
      "credentials": { "postgres": { "id": "REPLACE_PG_CRED_ID", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "conditions": [
            { "id": "c-last", "leftValue": "={{ $('ans: validate').item.json.is_last }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [100, 1000],
      "id": "node-ans-islast",
      "name": "ans: is last Q?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH agg AS (\n  SELECT quiz_id,\n         ROUND(100.0 * SUM(CASE WHEN correct THEN 1 ELSE 0 END) / COUNT(*))::INT AS score_pct\n  FROM app.quiz_answers\n  WHERE quiz_id = $1\n  GROUP BY quiz_id\n)\nUPDATE app.quizzes q\nSET finished_at = now(), score_pct = agg.score_pct\nFROM agg\nWHERE q.id = agg.quiz_id\nRETURNING q.id, q.score_pct;",
        "options": { "queryReplacement": "={{ $('ans: validate').item.json.quiz_id }}" }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [300, 900],
      "id": "node-ans-finalize",
      "name": "ans: pg finalize quiz",
      "credentials": { "postgres": { "id": "REPLACE_PG_CRED_ID", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT qa.question_id, qa.user_answer, qa.correct, q.questions FROM app.quiz_answers qa JOIN app.quizzes q ON q.id = qa.quiz_id WHERE qa.quiz_id = $1 ORDER BY qa.question_id;",
        "options": { "queryReplacement": "={{ $('ans: validate').item.json.quiz_id }}" }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [500, 900],
      "id": "node-ans-loadanswers",
      "name": "ans: pg load all answers",
      "credentials": { "postgres": { "id": "REPLACE_PG_CRED_ID", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "jsCode": "// Build final results message — score + per-Q feedback with explanations on wrong\nconst answers = $input.all().map(i => i.json);\nconst chatId = $('ans: validate').item.json.chat_id;\nconst quizId = $('ans: validate').item.json.quiz_id;\n\nconst raw = answers[0]?.questions;\nconst questions = (raw && raw.questions) || raw;\n\nconst correctCount = answers.filter(a => a.correct).length;\nconst total = answers.length;\nconst pct = Math.round(100 * correctCount / total);\n\nlet badge;\nif (pct >= 80) badge = '🏆';\nelse if (pct >= 60) badge = '✅';\nelse if (pct >= 40) badge = '⚠️';\nelse badge = '🔻';\n\nconst lines = [`${badge} *Quiz complete: ${correctCount}/${total} (${pct}%)*`, ''];\n\nfor (const a of answers) {\n  const q = questions.find(qq => qq.id === a.question_id);\n  const mark = a.correct ? '✅' : '❌';\n  const userOpt = q?.options?.[a.user_answer] || '';\n  const correctLetter = q?.correctAnswer || '?';\n  const correctOpt = q?.options?.[correctLetter] || '';\n\n  lines.push(`${mark} *${a.question_id}* — you picked _${a.user_answer}_: ${userOpt}`);\n  if (!a.correct) {\n    lines.push(`     ✓ Correct: *${correctLetter}* — ${correctOpt}`);\n    if (q?.explanation) lines.push(`     💡 _${q.explanation}_`);\n  }\n  lines.push('');\n}\n\nlines.push(pct >= 80\n  ? `_Strong recall — this material is well-internalised._`\n  : pct >= 60\n    ? `_Solid baseline — re-skim the points you missed._`\n    : `_Worth a deeper re-read — consider running /quiz on this topic again later._`);\n\nlines.push('');\nlines.push('Use `/quiz` to test another topic, or `/learn <url>` to add a new one.');\n\nreturn [{ json: { chat_id: chatId, text: lines.join('\\n') } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 900],
      "id": "node-ans-formatresults",
      "name": "ans: format results"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": { "parse_mode": "Markdown", "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 900],
      "id": "node-ans-sendresults",
      "name": "ans: send results",
      "credentials": { "telegramApi": { "id": "REPLACE_TG_CRED_ID", "name": "Telegram account" } }
    },
    {
      "parameters": {
        "jsCode": "// Format next question (nextIdx already computed by 'ans: validate')\nconst v = $('ans: validate').item.json;\nconst questions = v.questions;\nconst nextQ = questions[v.next_q_idx];\nconst chatId = v.chat_id;\nconst quizId = v.quiz_id;\nconst qNum = v.next_q_idx + 1;\n\nconst prevMark = v.correct ? '✅ correct' : `❌ wrong (was *${v.correct_answer}*)`;\n\nconst text = `${prevMark}\\n\\n🎯 *Question ${qNum} of 5*\\n\\n${nextQ.question}\\n\\n*A)* ${nextQ.options.A}\\n*B)* ${nextQ.options.B}\\n*C)* ${nextQ.options.C}\\n*D)* ${nextQ.options.D}`;\n\nconst reply_markup = {\n  inline_keyboard: [\n    [\n      { text: 'A', callback_data: `ans:${quizId}:${nextQ.id}:A` },\n      { text: 'B', callback_data: `ans:${quizId}:${nextQ.id}:B` },\n    ],\n    [\n      { text: 'C', callback_data: `ans:${quizId}:${nextQ.id}:C` },\n      { text: 'D', callback_data: `ans:${quizId}:${nextQ.id}:D` },\n    ],\n  ]\n};\n\nreturn [{ json: { chat_id: chatId, text, reply_markup } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 1100],
      "id": "node-ans-formatnext",
      "name": "ans: format next Q"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false,
          "reply_markup": "={{ JSON.stringify($json.reply_markup) }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [500, 1100],
      "id": "node-ans-sendnext",
      "name": "ans: send next Q",
      "credentials": { "telegramApi": { "id": "REPLACE_TG_CRED_ID", "name": "Telegram account" } }
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT materials_count, quizzes_taken, COALESCE(avg_score_pct, 0) AS avg_score_pct, last_quiz_at, advanced_materials, intermediate_materials, beginner_materials FROM app.v_user_stats WHERE chat_id = $1;",
        "options": { "queryReplacement": "={{ $json.message.chat.id }}" }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-700, 1500],
      "id": "node-stats-load",
      "name": "/stats: pg load",
      "credentials": { "postgres": { "id": "REPLACE_PG_CRED_ID", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "jsCode": "// Format /stats dashboard\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\nconst row = $input.first().json;\n\nif (!row || row.materials_count === undefined || row.materials_count === null) {\n  return [{ json: { chat_id: chatId, text: '📊 *No learning history yet.*\\n\\nSend `/learn <url>` to add your first material — once you take a quiz, your stats will show up here.' } }];\n}\n\nfunction bar(n, total = 10) {\n  const filled = Math.min(total, Math.max(0, Math.round((n / 100) * total)));\n  return '█'.repeat(filled) + '░'.repeat(total - filled);\n}\n\nconst score = Number(row.avg_score_pct) || 0;\nconst lastQuiz = row.last_quiz_at ? new Date(row.last_quiz_at).toISOString().split('T')[0] : 'never';\n\nconst lines = [\n  '📊 *Your learning dashboard*',\n  '',\n  `📚 *Materials saved:* ${row.materials_count}`,\n  `   🟢 beginner: ${row.beginner_materials || 0}`,\n  `   🟡 intermediate: ${row.intermediate_materials || 0}`,\n  `   🔴 advanced: ${row.advanced_materials || 0}`,\n  '',\n  `🎯 *Quizzes taken:* ${row.quizzes_taken || 0}`,\n  `📈 *Average score:* ${score}%`,\n  `      \\`${bar(score)}\\``,\n  `🕒 *Last quiz:* ${lastQuiz}`,\n  '',\n  '_Tip: re-quiz a topic after a few days to test retention._',\n];\n\nreturn [{ json: { chat_id: chatId, text: lines.join('\\n') } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-500, 1500],
      "id": "node-stats-format",
      "name": "/stats: format"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": { "parse_mode": "Markdown", "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-300, 1500],
      "id": "node-stats-send",
      "name": "/stats: send",
      "credentials": { "telegramApi": { "id": "REPLACE_TG_CRED_ID", "name": "Telegram account" } }
    },

    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message?.chat?.id ?? $('Telegram Trigger').item.json.callback_query?.message?.chat?.id }}",
        "text": "🤔 I don't recognise that command.\n\nTry: /start, /learn <url>, /quiz, /stats",
        "additionalFields": { "parse_mode": "Markdown", "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [-700, 1900],
      "id": "node-other-reply",
      "name": "other: reply",
      "credentials": { "telegramApi": { "id": "REPLACE_TG_CRED_ID", "name": "Telegram account" } }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Route", "type": "main", "index": 0 }]]
    },
    "Route": {
      "main": [
        [{ "node": "Reply /start", "type": "main", "index": 0 }],
        [{ "node": "/learn: parse URL", "type": "main", "index": 0 }],
        [{ "node": "/quiz: pg SELECT materials", "type": "main", "index": 0 }],
        [{ "node": "/stats: pg load", "type": "main", "index": 0 }],
        [{ "node": "pick: pg load material", "type": "main", "index": 0 }],
        [{ "node": "ans: parse callback", "type": "main", "index": 0 }],
        [{ "node": "other: reply", "type": "main", "index": 0 }]
      ]
    },
    "/learn: parse URL": {
      "main": [[{ "node": "/learn: URL valid?", "type": "main", "index": 0 }]]
    },
    "/learn: URL valid?": {
      "main": [
        [{ "node": "/learn: jina fetch", "type": "main", "index": 0 }],
        [{ "node": "/learn: reply invalid", "type": "main", "index": 0 }]
      ]
    },
    "/learn: jina fetch": {
      "main": [[{ "node": "/learn: extract title+body", "type": "main", "index": 0 }]]
    },
    "/learn: extract title+body": {
      "main": [[{ "node": "/learn: Teacher (Opus)", "type": "main", "index": 0 }]]
    },
    "/learn: Teacher (Opus)": {
      "main": [[{ "node": "/learn: parse Teacher JSON", "type": "main", "index": 0 }]]
    },
    "/learn: parse Teacher JSON": {
      "main": [[{ "node": "/learn: pg INSERT material", "type": "main", "index": 0 }]]
    },
    "/learn: pg INSERT material": {
      "main": [[{ "node": "/learn: format summary", "type": "main", "index": 0 }]]
    },
    "/learn: format summary": {
      "main": [[{ "node": "/learn: send summary", "type": "main", "index": 0 }]]
    },
    "/quiz: pg SELECT materials": {
      "main": [[{ "node": "/quiz: build topic keyboard", "type": "main", "index": 0 }]]
    },
    "/quiz: build topic keyboard": {
      "main": [[{ "node": "/quiz: send topics", "type": "main", "index": 0 }]]
    },
    "pick: pg load material": {
      "main": [[{ "node": "pick: Examiner (Haiku)", "type": "main", "index": 0 }]]
    },
    "pick: Examiner (Haiku)": {
      "main": [[{ "node": "pick: parse Examiner JSON", "type": "main", "index": 0 }]]
    },
    "pick: parse Examiner JSON": {
      "main": [[{ "node": "pick: pg INSERT quiz", "type": "main", "index": 0 }]]
    },
    "pick: pg INSERT quiz": {
      "main": [[{ "node": "pick: format Q1", "type": "main", "index": 0 }]]
    },
    "pick: format Q1": {
      "main": [[{ "node": "pick: send Q1", "type": "main", "index": 0 }]]
    },
    "ans: parse callback": {
      "main": [[{ "node": "ans: pg load quiz", "type": "main", "index": 0 }]]
    },
    "ans: pg load quiz": {
      "main": [[{ "node": "ans: validate", "type": "main", "index": 0 }]]
    },
    "ans: validate": {
      "main": [[{ "node": "ans: pg INSERT answer", "type": "main", "index": 0 }]]
    },
    "ans: pg INSERT answer": {
      "main": [[{ "node": "ans: is last Q?", "type": "main", "index": 0 }]]
    },
    "ans: is last Q?": {
      "main": [
        [{ "node": "ans: pg finalize quiz", "type": "main", "index": 0 }],
        [{ "node": "ans: format next Q", "type": "main", "index": 0 }]
      ]
    },
    "ans: pg finalize quiz": {
      "main": [[{ "node": "ans: pg load all answers", "type": "main", "index": 0 }]]
    },
    "ans: pg load all answers": {
      "main": [[{ "node": "ans: format results", "type": "main", "index": 0 }]]
    },
    "ans: format results": {
      "main": [[{ "node": "ans: send results", "type": "main", "index": 0 }]]
    },
    "ans: format next Q": {
      "main": [[{ "node": "ans: send next Q", "type": "main", "index": 0 }]]
    },
    "/stats: pg load": {
      "main": [[{ "node": "/stats: format", "type": "main", "index": 0 }]]
    },
    "/stats: format": {
      "main": [[{ "node": "/stats: send", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "active": false,
  "tags": []
}
